[2015-12-22 10:00] bbday commented on #211
there isn't any db that have this information, you must call each item to get info about them, like EA do on web search.

[2015-12-22 10:55] StevenMcD commented on #183
How many "mini-bans" before a perma-ban? I used to auto-trade contracts in FIFA 14 and never got one and then with FIFA 15 they said that they would start banning.

I used to keep my RPM pretty low as well. Would hate to get a perma-ban :cry:

[2015-12-22 17:47] kauefelipe commented on #211
I´m using the json of #145
Thanks to @bradders591

[2015-12-22 18:30] JoaoFelipePego commented on #211
@kauefelipe
The available link in issue #145 (http://www.filedropper.com/playerstar) does not work, could make its json file players?

[2015-12-22 18:45] kauefelipe commented on #211
Fala teu email que eu te mando...

[2015-12-22 18:51] JoaoFelipePego commented on #211
@kauefelipe
joaofelipepego1995@hotmail.com

[2015-12-22 21:57] kauefelipe commented on #211
Mandei la para vc

[2015-12-22 22:09] kauefelipe commented on #209
Nobody ...?

The code is here:
https://github.com/kauefelipe/FIFA-Ultimate-Team-Toolkit-With-Gifts

To list gifts
[code]

To get gift
[code]

But this second (GetGiftAsync) doesn´t work...

[2015-12-23 01:36] JoaoFelipePego commented on #211
Thanks!

[2015-12-23 01:36] #211 closed

[2015-12-23 18:05] JoaoFelipePego commented on #209
Very good!

[2015-12-23 18:39] kauefelipe commented on #209
The idea is good, but unfortunately not working ... lol

[2015-12-24 02:36] kauefelipe commented on #209
@trydis could u help me? any idea?

The request of get detailed:
![headers](https://cloud.githubusercontent.com/assets/5603132/11988396/21bb38ec-a9d6-11e5-952f-062f1b186b56.png)
![cookies](https://cloud.githubusercontent.com/assets/5603132/11988402/366652cc-a9d6-11e5-93da-1c4758818b85.png)
![params](https://cloud.githubusercontent.com/assets/5603132/11988404/3d119636-a9d6-11e5-968b-244788a49fbf.pn

[2015-12-24 08:32] DjTrilogic commented on #209
As you can see, getting a gift is done through an Http Post with
X-Http-Methode-Override => "Delete"

On Thu, Dec 24, 2015 at 3:36 AM, kauefelipe <notifications@github.com>
wrote:

--
*Abdessamad Benslimane*
Email: Abdessamad.Benslimane@gmail.com
Téléphone: +33 6 05 56 47 27

[2015-12-24 08:35] DjTrilogic commented on #209
I've something like this:

---

        public async Task<byte> PerformRequestAsync()        {
   AddMethodOverrideHeader(HttpMethod.Delete);
AddCommonHeaders();            var activeMessageRedeemResponseMessage
= await HttpClient
.PostAsync(string.Format(Resources.ActiveMessages + "/"
+_activeMessage.Id),new StringContent(" "))
.ConfigureAwait(false);
activeMessageRedeemResponseMessage.EnsureSucc

[2015-12-24 08:38] DjTrilogic commented on #147
Still no one made this ?

[2015-12-24 11:17] tringler commented on #147
I had a look into this and the login process seems to be completely different to the WebApp plus the requests inside the companion seems to be also very difficult to WebApp requests, so it seems to be many hours of Fiddlering and coding all these new requests and login process :-/

[2015-12-24 12:01] DjTrilogic commented on #147
i'm sure there are people using this repository who have it implemented...

On Thu, Dec 24, 2015 at 12:17 PM, tringler <notifications@github.com> wrote:

--
*Abdessamad Benslimane*
Email: Abdessamad.Benslimane@gmail.com
Téléphone: +33 6 05 56 47 27

[2015-12-25 13:35] kauefelipe commented on #209
Great! Works fine!

Thank you @DjTrilogic !

[2015-12-26 15:59] #206 closed

[2015-12-26 15:59] tringler commented on #210
Pls close if solved

[2015-12-26 16:01] tringler commented on #209
Can you pls send this as pull request?

[2015-12-26 16:02] tringler commented on #197
No answer - Will close

[2015-12-26 16:02] #197 closed

[2015-12-26 16:02] tringler commented on #183
I had at least 50 temp bans so far - No perma ban

[2015-12-26 17:19] kauefelipe commented on #209
Yes,
I will do this soon...

[2015-12-29 12:45] kauefelipe commented on #209
Daily gift #212

[2015-12-29 12:45] #209 closed

[2015-12-29 14:13] #210 closed

[2015-12-30 06:45] ulrickpsp commented on #147
Certainly I have some time these days to try to implement this, but I would like to know which are the advantages of mobile login. Thanks.

[2015-12-30 08:12] DjTrilogic commented on #147
It will allow us to swap between the web-app login and mobile login when
the account is bugged. This mean we can increase the RPM without fearing
the long time (6 hours long) bug.

On Wed, Dec 30, 2015 at 7:45 AM, ulrickpsp <notifications@github.com> wrote:

--
*Abdessamad Benslimane*
Email: Abdessamad.Benslimane@gmail.com
Téléphone: +33 6 05 56 47 27

[2015-12-30 08:20] ulrickpsp commented on #147
Thanks mate. I'll try to get it to work and share it with you.

[2015-12-30 10:13] DjTrilogic commented on #147
I will give you an interesting Fiddler Session from another bot, it may
make things simple for you (i'll send you via mail if you want)

On Wed, Dec 30, 2015 at 9:20 AM, ulrickpsp <notifications@github.com> wrote:

--
*Abdessamad Benslimane*
Email: Abdessamad.Benslimane@gmail.com
Téléphone: +33 6 05 56 47 27

[2015-12-30 10:46] ulrickpsp commented on #147
Sure! I've sent you an email using your public address. Thanks.

[2015-12-31 02:40] kostyan5 commented on #195
I wrote my own autobuyer in Swift for OSX. If I price search 1 per second, I get temp ban (error message) after exactly 1000 tries.

There seems to be a hard limit on short term (perhaps per hour) and long term (per day). It would be nice if we could figure out what it is.

[2016-01-05 08:56] aboo commented on #202
I have the same issue.
I created a new account and the result is the same.
I also tried on UltimateBot. The first account get error message straight away and the second one   (new account) shows the second factor authentication code but fails right after.

[2016-01-05 09:04] lorenzh commented on #202
i think the two factor authentication was successfull.
EA added a new Page after the two factor code authentication where you can update the authentication method.

you have to send a POST to cancel the update of authentication method

[2016-01-06 20:59] kauefelipe commented on #202
Same problem here...

Someone implemented this "post to cancel"...

[code]

[2016-01-07 09:11] lorenzh commented on #202
i will create a pull request today with the "post to cancel"

[2016-01-07 10:56] aboo commented on #202
Thanks @lorenzh
I will try it out and will update here if the problem is solved by that change or not.

[2016-01-09 18:03] Bltfast commented on #183
Sadly I have to inform you that I receive a perm ban for my account. Initially I thought it was because I bought a player from another account of mine breaking EA terms. Right now another account has been banned and this one I used only with this tool. Is just me to be banned using Futbud?

[2016-01-09 20:34] lkuklis opened #214 "Exception on login"
Hi,
I have problem when trying to login.

[code]
When I provide code from email I receive.
[code]
When 'cookieContainer' does not exists (first time login) it returns "return new CookieContainer();`'
Popup properly return Code.
My account is activated.

Has anyone any ideas what is wrong whit my approach ?

[2016-01-11 11:58] kauefelipe commented on #214
Resolved in #202

[2016-01-11 18:42] tringler commented on #183
Sorry to hear this - Maybe they found a connection between the accounts and banned them all? I think they have kinda coin seller detection (If you buy a low rated player for a very high price) implemented - I had the same in FIFA15.

[2016-01-12 19:12] lkuklis commented on #214
Ok, Thank You. I switch to your repo and it works great.

[2016-01-12 19:12] #214 closed

[2016-01-12 19:27] kauefelipe commented on #214
Ok, but it´s not my repo...

It´s a @lorenzh 's repo

[2016-01-20 20:06] tringler opened #215 "Cannot deserialize the current JSON array"
Hello C# Experts,

maybe someone can help me out - I'm currently trying to implement the beloved priceranges in the toolkit. I'm basically done, but I'm not able to deserialize the response. I'm pretty sure it's a simple issue, but just don't get it.

This my request:

[code]

This is the model:
[code]

This is the response:
[code]

Basically I get this exception from JSON Deserializer:
[code]

Th

[2016-01-20 20:14] lorenzh commented on #215
Try this.

return await Deserialize<Dictionary<PriceRange>>(priceRangesResponseMessage);

[2016-01-20 20:26] lorenzh commented on #215
Try this
[code]

[2016-01-20 20:57] tringler commented on #215
Thanks a lot! - Seems to be working :)

[2016-01-20 20:58] #215 closed

[2016-01-22 15:41] tringler commented on #208
I assume if I had implemented 3 new features I need to rollback one-by-one and create a pull request for each of them? :-/

[2016-01-22 19:42] trydis commented on #208
You don't need to rollback anything. They're in separate commits i assume? Create one branch for each feature and [cherry-pick](http://git-scm.com/docs/git-cherry-pick) the existing commit(s) for that particular feature. Then create pull requests using the branches you've created.

[2016-01-23 14:46] tringler commented on #208
No, it's all edited locally without using Git at all.

[2016-01-23 15:41] trydis commented on #208
Ok, so just fork this repo, apply the changes you've done locally to the forked repo. Then push those changes to your forked repo and open pull requests.

[2016-01-23 22:10] tringler commented on #208
That means I can package all changes in that one pull request right?

[2016-01-23 23:05] trydis commented on #208
- The best thing would be to create one branch per feature and then one pull request for each.
- The next best thing would be to create one branch with the features in separate commits and one pull request.
- The worst would be one commit with all features in one pull request, which i might not accept. It's really hard to see what has changed when it's all in one big pile of code.

[2016-01-23 23:54] tringler commented on #208
mhh ok - I will try to seperate all the changes

[2016-01-24 19:24] tringler commented on #201
Can you help me how to setup fiddler to see these requests - I just these the "tunnel" packets and my HTTPS decryption is enabled.

[2016-01-24 20:12] tringler commented on #208
Ok - I sent the first 2 pull requests - The 3rd one is a little big bigger, so if I understood it correctly: I can wait now until you accepted (hopefully) the both requests. After that I can update the master branch & clone it to desktop again. Then I will create a new feature branch from the updated master and push my local code this and the difference should be the last pull request - right?

[2016-01-24 20:20] tringler commented on #183
I think this issue should be closed.

[2016-01-24 22:00] #183 closed

[2016-01-24 22:51] trydis commented on #208
To make it as easy as possible for yourself, i would advice you to not add your commits to your master branch, like you've currently done with the "price range" feature. You will eventually run into problems since the history of your master might not match the the history of my master.

After we've worked through these pull requests i suggest you fork this repo again (or reset your master to a0ade

[2016-01-24 23:03] tringler commented on #208
Ok - Just to confirm for the next pull request:

a) Update upstream to my master
b) Creating feature branche(s)
c) Commit to feature branches
d) Merge branches into a new feature set branch if I have more than one feature (optionally)

Right? :)

[2016-01-25 10:56] tringler commented on #195
@Lululuz - You should close the issue, because of no answer since about a month. Thanks!

[2016-01-25 11:09] #195 closed

[2016-01-25 17:40] trydis opened #218 "Need help testing v2.2.0-rc2"
Would be great if someone could try out the changes in the upcoming version, before i push "the real deal".

Thanks.

Changes:
https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/217
https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/216
https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/213

NuGet package: https://www.nuget.org/packages/UltimateTeam.Toolkit/2.2.0-rc2

[2016-01-25 23:22] dalvareznuv opened #219 "Sign-in attempt prevented by google"
Hi guys i was using this https://gist.github.com/trydis/d20ed9daedec19dc87e8 as an implementation of the provider interface, but got an email in my account saying:

Hi,
Someone just tried to sign in to your Google Account xxxxxx@gmail.com from an app that doesn't meet modern security standards.

We strongly recommend that you use a secure app, like Gmail, to access your account. All apps made by G

[2016-01-26 20:00] Lululuz commented on #218
https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/216
Please see comment :)

[2016-01-26 21:48] trydis commented on #218
Thanks for the testing/feedback @Lululuz. I'm depending on the community to test things this year, since i haven't touched ultimate team in ages. Will update this issue with the new prerelease when it's ready.

[2016-01-26 22:13] Romboide82 opened #220 "TwoFactorCode always requested."
Hi, with yesterday update it work for me too. But i'm still have this problem, every time i run the application and login, i need to put the code. Any idea?

[2016-01-26 23:52] CoverJ commented on #220
its beyond me but I'm pretty sure somewhere in the issue history there is a thread discussing creating a cookie which lasts for a while.

[2016-01-27 09:56] trydis commented on #218
Pushed rc2, I'll leave this open a few days, unless i get a :+1: from someone before that.

[2016-01-27 11:23] Romboide82 commented on #220
Oh thanks, I'll check!
--
Inviato da Libero Mail per Android Mercoledì, 27 Gennaio 2016, 00:52AM +01:00 da John Cover < notifications@github.com >:

[2016-01-27 14:13] bbday commented on #201
There are a lot of tuttorial on google, anyway you need also to add certificate to your machine or fidder can't see encrypted traffic

[2016-01-27 17:41] #219 closed

[2016-01-27 18:14] Lululuz commented on #220
Cookie helper class
[code]
before login
[code]
on login
[code]
Ajust it to your needs :)

[2016-01-27 18:18] Romboide82 commented on #220
Thanks you very much mate :)

[2016-01-27 18:18] #220 closed

[2016-01-27 19:21] tringler commented on #201
Surely, but I don't think the problem are the settings of my Fiddler, because it decrypts the whole EA traffic.

[2016-01-29 08:44] markc939 opened #222 "Help with search please"
Hi,

Could somebody please tell me how I setup a search for shiny gold contract cards only, or at least how I tell a searched card is shiny gold ?

I've scoured the code and tried various things to no avail.

I know i need to search for gold and developmenttype.contract
but what can I check to make sure its a shiny gold card please ?

Is it to do with subcardtype ?

Thanks in advance, sorry if I s

[2016-01-29 18:46] tringler commented on #222
If you describe how you would do this directly in the WebApp we can help you, but as far as I know there is no way to find shiny contracts.

[2016-01-29 19:04] #208 closed

[2016-01-30 11:21] markc939 commented on #222
It's ok I;ve worked out what i need to do thanks.

[2016-01-30 11:21] #222 closed

[2016-01-30 22:52] #218 closed

[2016-01-30 23:05] trydis commented on #202
Closing, almost a month without any activity.

[2016-01-30 23:05] #202 closed

[2016-01-30 23:05] #186 closed

[2016-02-02 09:07] tringler opened #223 "GitHub error"
Hello,

for my next pull request I refreshed my forked master from this master, created a new branch and now I have this in IFutClient.cs:

[code]

Any ideas how to fix?

Thanks, Thomas

[2016-02-02 11:54] trydis commented on #223
That's a Git merge conflict. Loads of info if you google for it.

An easy way to avoid those is to never commit directly to your master, only to "feature branches". Then every pull from my master to your master will be a fast-forward.

[2016-02-02 14:38] tringler commented on #223
Ok - Thanks.

[2016-02-02 14:38] #223 closed

[2016-02-09 15:10] A-VORONKIN commented on #147
https://github.com/oczkers/fut has mobile login. maybe someone can check it and implement same in this toolkit.

[2016-02-09 23:50] boikamlott opened #224 "Problem with login emails"
Hi,

I use the toolkit since 3 months now and it gave me the chance to won a lot of credits, thanks !
Since last week-end I'm in trouble with the login procedure though.
Unfortunately, I do not receive EA email login anymore (sometimes I had been temporary ban for about 12 hours...).
Any people here had this issue?
I'll try to implement the cookie workaround but just wondering if someone had the s

[2016-02-10 16:36] DarkVador101 commented on #224
i bet you are one of those annoying people that I come across who bot at super speeds. if that is you, then there is no wonder you are getting a 12 hour ban. if you bot smart, the most you will get is a few minutes to an hour ban

[2016-02-10 17:24] boikamlott commented on #224
Well, actually I bot during 7-8h per day and sent 1 search request every 4-7 seconds (it's a random number between these two bounds).
Usually I'm not ban, sometimes it could append though.
But I do not think the email problem is so much related to the ban because yesterday I was fully able to log in via Firefox but no two factor email was sent whether I tried to log in from my bot or for a incogni

[2016-02-10 17:24] #224 closed

[2016-02-13 09:34] bbday commented on #147
Yes but is not very good (can also work), cause if you debug mobile call is bit different from web app:

no refer
extra tag in call
ecc ...

[2016-02-14 10:36] tringler opened #225 "Login broken"
Hello,

can anyone confirm the login is currently broken? - I'm not able to get my two factor code - Even not via the WebApp in the browser.

[2016-02-14 13:22] mtdx commented on #225
They ban bots without pin requests.

[2016-02-14 18:07] ross-ukdev opened #226 "PlayerSearch AuctionInfo Count 0"
I've just started using this api - thanks for the all the work

I have the 2 step login working, next step is the player search.

I keep getting 0 results for the AuctionInfo - using the exact sample from the readme.

Anyone else getting this or know what i might be doing wrong? I've had a search through the closed issues but can't find any similar issues.

Thanks

[2016-02-14 18:09] ross-ukdev commented on #226
Ah i also forgot to add that the JSON response from ea has no AuctionInfo results.

[2016-02-14 18:13] jvianafec commented on #226
Show your cose

Enviado do meu iPhone

[2016-02-14 20:14] ross-ukdev commented on #226
It's in test/hack mode at the moment, will refactor when i get the api calls working.

Here's the player search call:
`        public async Task<AuctionResponse> PlayerSearch(FutClient client)
        {
            var searchParameters = new PlayerSearchParameters
            {
                Page = 1,
                Level = Level.Gold,
                ChemistryStyle = ChemistryStyle.Sniper,

[2016-02-14 20:24] tringler commented on #225
The account still works in-game - It is a temp. web app ban or it is a permament?

[2016-02-15 10:05] tringler commented on #225
EA reported it's a known issue which will be solved within the next 24h. It's not a BAN.

[2016-02-15 10:05] #225 closed

[2016-02-15 12:31] jvianafec commented on #226
Your account is new? it may be that the market is unavailable for your account.

I recommend checking out the web app if the market is available.

If so, please post the response the search call. (Fiddler)

[2016-02-16 20:46] ross-ukdev commented on #226
I've been using the webapp/playing FUT for around 6 months.

Just checked the web app and all looks fine, im wondering if it could that my ea PC account is linked to my PS3 account. Used to play fifa on the PS3 years ago.

Here's the request headers and response using the code above:
Request
	POST https://utas.s2.fut.ea.com/ut/game/fifa16/transfermarket?start=0&num=13&maskedDefId=0&type=player HTT

[2016-02-17 17:12] Lululuz commented on #226
Your response looks ok.
Maybe there is no "Rooney" with chemstyle sniper on the market, remove some filters and try again.

[2016-02-17 22:09] ross-ukdev commented on #226
Lululuz, i've tried with no search params too with no luck.

I have found the issue, i noticed that the webapp doesnt post **maskedDefId=0**, so i removed it from my request and now i'm instantly getting the correct Auction Info back!

Is this isolated to just me!?

Slightly off topic, is there a way i can BIN via this client? Rather than BID?

Thanks

[2016-02-17 22:26] Lululuz commented on #226
Just wanted to post the same thing :P
I changed the PlayerSearchParameters like this

[code]

Regarding your question:
Yes you can bid instead of bin. Just check out the readme:

[2016-02-17 22:31] ross-ukdev commented on #226
haha this has been driving me mad trying to figure it out, i'll go with your change (mine was just commenting it out)

ah but i would like to BIN/Buy it now, do i just pass the exact buy it now price?

Thanks for your help!

[2016-02-18 14:59] A-VORONKIN opened #227 "Could not find member "tradeIdStr""
I have JsonSerializationException: Could not find member "tradeIdStr" on object of type 'AuctionInfo'.

[2016-02-18 15:02] gladtbx commented on #227
Same here

[2016-02-18 16:11] gladtbx commented on #227
Fixed

Add line "        public string TradeIdStr { get; set; }" to File AuctionInfo.cs under public class AuctionInfo.

Line 37 if you are not sure where to add it.

[2016-02-18 17:32] Spettacolo83 commented on #227
Thanks gladtbx! Works perfect!

[2016-02-18 17:37] gladtbx commented on #227
Also, if you are trying to list, add line "public string idStr { get; set; }" to File ListAuctionResponse.cs as well. Line 6 would be good.

[2016-02-18 17:43] Spettacolo83 commented on #227
Thanks! Done it!

[2016-02-18 18:17] #227 closed

[2016-02-18 19:39] boikamlott opened #228 "Add JSON attribute to AuctionInfo"
Hi,

Since this afternoon, my bot complains about about a missing 'tradeIdStr' in the JSON response AuctionInfo object.
If any of you had the same issue, you just need to add: `public string TradeIdStr { get; set; }`
to the `AuctionInfo` class.
After trying to sell a player it complains about a missing 'idStr' field in `ListAuctionResponse`.
I did not fix this one yet but I'm sure we just need to

[2016-02-18 20:41] gladtbx commented on #228
The idStr fix is mentioned in:
https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/issues/227

[2016-02-18 22:04] boikamlott commented on #228
ok sorry, issue closed.

[2016-02-18 22:04] #228 closed

[2016-02-18 22:15] #226 closed

[2016-02-19 10:15] Bltfast opened #230 "New error?"
Calling GetWatchlistAsync() method but even others I get this error:

Could not find member 'tradeIdStr' on object of type 'AuctionInfo'. Path 'auctionInfo[0].tradeIdStr', line 1, position 1047.

Cheers

[2016-02-19 11:57] trydis commented on #230
Take a look at [this](https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/229/files), will include the changes asap.

[2016-02-19 12:36] Bltfast commented on #230
ok solved! thanks a lot

[2016-02-19 12:36] #230 closed

[2016-02-20 19:53] vhrustic opened #231 "Unable to login"
About 10 days ago I started to have problems with login(actually I can't login at all). Everything was flawless, as I used this toolkit sucessufuly for  4 months. I am using well known ImapTwoFactorCodeProvider which didn't have any problems with reading my mail and getting EA's code. I tried to change regex which capture security code, and I managed to get code without problem(I debugged an aplic

[2016-02-20 21:32] A-VORONKIN commented on #231
Sometimes I have a same problem

[2016-02-21 17:52] tringler commented on #231
Did you check with fiddler what your toolkit doing and compared it with the fiddler log the webapp created?

[2016-02-21 20:49] gladtbx commented on #231
Similar problem happens, but after a few tries you can login. I think it probably is the issue on the EA server side.

[2016-02-21 23:39] vhrustic commented on #231
After extensive search I managed to fix the problem and it was my fault. After all it was problem in my regex. Thank you all for your help. Issue can be closed.

[2016-02-21 23:39] #231 closed

[2016-02-23 02:52] razarlive opened #232 "searchResponse resourceID?"
figured out

[2016-02-23 10:31] ross-ukdev opened #233 "New market search desearialization error"
Is anyone else getting a new error when performing a market search?

[2016-02-23 11:05] ross-ukdev commented on #233
Never mind, cleared bin and obj folders and it started working again.

[2016-02-23 11:05] #233 closed

[2016-02-23 20:25] #232 closed

[2016-02-24 21:17] DarkVador101 opened #234 "Unassigned Items"
can we send all Unassigned items to club through this toolkit with one request?

[2016-02-24 21:52] kauefelipe commented on #234
No....

[2016-02-24 22:02] DarkVador101 commented on #234
thanks, I guess I will just have to loop through the list.

[2016-02-25 11:43] kauefelipe commented on #234
Yes, i do this...

[2016-02-27 19:56] razarlive commented on #234
it would be better to send one request rather than spend multiple requests for these packs due to the security.

[2016-02-27 20:27] razarlive opened #235 "Fiddler help please!"
I am trying to use the Fiddler web debugger rather than chrome extension and the tool isn't working for me. it is not capturing any of the app requests. The chrome extension is working capturing the requests fine.   I enabled HTTPs Capture and Decryption.
What else am I missing?

[2016-02-27 21:15] DarkVador101 commented on #235
try to use IE instead of chrome.

[2016-02-28 02:52] DarkVador101 commented on #234
I implemented auto-assign all. it took 30 minutes. it would be nice to add it to the toolkit.

[2016-02-28 03:33] #234 closed

[2016-02-28 13:17] Romboide82 opened #236 "Player search problem"
When i try to search a player by futClient.SearchAsync(searchParameters) it return 0 auctioninfo even with no parameters. Sometimes it also throw this exception:

Could not find member 'tradeIdStr' on object of type 'AuctionInfo'. Path 'auctionInfo[0].tradeIdStr', line 1, position 1225."

Any idea?

[2016-02-28 13:22] #236 closed

[2016-03-01 16:56] DarkVador101 commented on #195
lol, he is now charging a subscription for other's people work.

[2016-03-06 19:48] tringler commented on #147
I took a look into https://github.com/oczkers/fut - All I can see he that the headers are changed. I cannot imagine this will work. Can anybody confirm this?

[code]

[2016-03-07 09:49] bbday commented on #147
the main problem is login not other requests.
fut project don't emulate mobile login, but only requests, it is very dangerous do this cause for ea is very easy check if you do something that can't do with app (fake login).
Sniff data with mobile companion and you will see login is different (set http proxy on your android mobile)

[2016-03-07 09:59] tringler commented on #147
Yes, but I think the EA API is even not recognizing if the user agent is Windows, Android, etc. - I think it's not changing anything on the behaviour.

I'm currently working on mobile login and it seems not to complicated. I will update the comment later that day.

[2016-03-07 13:14] A-VORONKIN commented on #147
there is not only headers. i tried to implement it few months ago but no  success. I`m bad in python :)

[2016-03-07 13:29] tringler commented on #147
That's not a problem, because we're in a C# solution here :)

As far as I can see it's like this:

Login:

[code]

You get redirected to the login page (You can try it in a browser of your choice without Android)

Put in Username/Password/EA Code you will get your Companion Code.

[2016-03-07 14:15] lorenzh commented on #147
I think the login process is the same you need to change the headers, sku and the clientversion.

[2016-03-07 14:28] tringler commented on #147
Sounds too easy :D

[2016-03-07 14:30] kauefelipe opened #237 "Help with GetPriceRangesAsync"
Hello,
i´m trying to use "GetPriceRangesAsync" ...

I tried
`var tradePileResponse = await _client.GetTradePileAsync();`
`var priceRanges = await _client.GetPriceRangesAsync(tradePileResponse.AuctionInfo.Select(ai => ai.CalculateBaseId()));`

or
`var tradePileResponse = await _client.GetTradePileAsync();`
 `var priceRanges = await _client.GetPriceRangesAsync(tradePileResponse.AuctionInfo.Select(ai

[2016-03-07 15:39] tringler commented on #237
What is not working? Syntax error? Empty response?

[2016-03-07 15:40] kauefelipe commented on #237
Exception in the call...

Message:

Stack

   at UltimateTeam.Toolkit.Requests.FutRequestBase.<Deserialize>d__22`1.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at UltimateTe

[2016-03-07 15:44] tringler commented on #237
Your 2nd code example should work - Can you fiddler it and show me the request you are trying to send?

[2016-03-07 16:24] kauefelipe commented on #237
I don´t have fiddler in this machine and can´t install...
The final url request for example is:

[2016-03-07 17:49] tringler commented on #237
Normally this is the behaviour if you didn't call watchlist/tradepile before. This like I do:

[code]
This is currently working.

[2016-03-07 17:57] kauefelipe commented on #237
Ok, no problem...

[2016-03-07 19:13] tringler commented on #237
Can you try again? It's working again at my app.

[2016-03-07 20:30] kauefelipe commented on #237
Same error... 404 - NotFound

[2016-03-08 13:19] A-VORONKIN commented on #147
Any progress?

[2016-03-08 14:11] tringler commented on #147
Not so far - Maybe this evening

[2016-03-08 14:13] tringler commented on #237
Really weird - It's working in my code - Can proof you are not sending any requests between the tradepile request and the pricerange request?

[2016-03-08 14:13] tringler commented on #235
You should work via the local Fiddler proxy

[2016-03-08 14:40] kauefelipe commented on #237
The code is exactly like this:
`var tradePileResponse = await _client.GetTradePileAsync();
var priceRanges = await _client.GetPriceRangesAsync(tradePileResponse.AuctionInfo.Select(ai => ai.CalculateBaseId()));`

[2016-03-08 19:38] tringler commented on #237
I'm afraid I cannot help without any Fiddler logs, because you see I'm using exactly the same code and it's working.

[2016-03-08 20:05] kauefelipe commented on #237
I will go home on Thursday and I can install on my PC and then show here the log

[2016-03-08 20:27] tringler commented on #237
Maybe another user can confirm / not confirm the behaviour?

[2016-03-08 23:35] tringler commented on #147
I was able to reproduce the mobile login until I got the code from the companion app:
![unbenannt](https://cloud.githubusercontent.com/assets/4985268/13619165/ed769e94-e587-11e5-9973-81b00a2ee4ab.PNG)

The whole post login procedure is still missing:

![Uploading Unbenannt1.PNG…]()

In addition to this it looks like we need to attach the timestamp on each request:
![unbenannt3](https://cloud.githu

[2016-03-09 15:50] tringler commented on #147
Anyone with a smart C# solution how to add attach the timestamp to each request without changing too much code?

[2016-03-09 19:56] trydis commented on #147
You could create a method that creates the timestamp and add it to the URL's in https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/blob/master/UltimateTeam.Toolkit/Requests/HttpClientWrapper.cs  -> Get-/PostAsync

[2016-03-09 23:12] tringler commented on #147
Mobile Login is 98% done, but I'm struggling at this point:

[code]

I'm getting:

[code]

Any ideas?

[2016-03-10 13:17] engate commented on #237
It's not working because you don't have that item in the tradepile.

[2016-03-10 13:47] tringler commented on #237
Yes, that could be the reason. You need to have the item in your previous response or you get the 404.

[2016-03-10 14:16] kauefelipe commented on #237
Great @engate...

I had some items previously listed in TradePile . I removed them in the "select" and then is now working perfectly !

Thank you engate and tringler for the help!

The final code:
`var tradePileResponse = await _client.GetTradePileAsync();`
`var ids = tradePileResponse.AuctionInfo.Where(ai => ai.Expires == -1).Select(ai => ai.ItemData.Id);`
`var priceRanges = await _client.GetPric

[2016-03-10 14:16] #237 closed

[2016-03-10 20:21] bbday commented on #147
Don't have refer second function
first use X-POW-SID second X-UT-PHISHING-TOKEN

[2016-03-10 20:44] tringler commented on #147
Sorry - I traced again and you have X-UT-PHISHING-TOKEN only if you have a cookie and already answered the question. This is the app output without a cookie:

[code]

[2016-03-10 22:02] tringler commented on #147
I think I found the problem - I just forgot a call to https://utas.s2.fut.ea.com/ut/auth?timestamp=_TIMESTAMP_

Unfortunately I have now problems to understand the whole login process :(

[2016-03-10 23:49] tringler commented on #201
Can you close the issue or provide a fiddler trace? There is no traffic flow to pin-river.data.ea.com:
![unbenannt](https://cloud.githubusercontent.com/assets/4985268/13688493/9cdc4104-e722-11e5-8727-3e9837de23fe.PNG)

On the companion app there is a flow to pin-river.data.ea.com and I plan to implement it:
![unbenannt](https://cloud.githubusercontent.com/assets/4985268/13688540/ee94976c-e722-11e5

[2016-03-11 21:00] tringler commented on #147
[https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/238](url)

[2016-03-12 00:26] mtdx commented on #201
You can easily see pin events in firebug http://prntscr.com/ae4o4j
I have a very clumsy implantation of it, but not on the toolkit level, and I feel that it helped with bans and other flagging issues.

[2016-03-12 11:14] tringler commented on #201
I cannot find FireBug for Google Chrome :( - If I click on the installation link on their webpage, nothing happens - If you will just send me your Request/Response I can easily add it to the toolkit.

[2016-03-12 11:14] tringler commented on #235
Pls close the issue if solved.

[2016-03-12 11:28] mtdx commented on #201
In Chrome you can see under Network http://prntscr.com/ae9bjz, how can I send it to you? Also I'm just coding as a hobby, I don't think my hackish - code is public-worthy but OK.

[2016-03-12 11:56] tringler commented on #201
Thanks! I can see the request now - I don't get why I can't see them with Fiddler. Anyways - How did you implement these requests? Do you have a list of these ids:

fromid: "Transfer List"
toid: "Transfer Targets"

I would bet all but trydis are just hobby developers.

[2016-03-12 12:02] mtdx commented on #201
Basically I did a request that takes fromid, toid, menu, status, etc, and then when I call the toolkit, get trade pile for example, after I do a pin request too.  Also there is a mobile too, parameter, if you'll have that, I could just send you the code.

[2016-03-12 12:10] tringler commented on #201
Request implementation I can easily by my own, but how to call is demanding. It should be done automatically after each request.

[2016-03-12 12:19] mtdx commented on #201
I could not do automatically, I don't know the toolkit enough, I did 2 auto request
but then I give up. I'm just manually calling it after I call LoginAsync for example.

[2016-03-12 13:57] A-VORONKIN commented on #147
awesome!

[2016-03-12 21:25] tringler commented on #147
The mobile headers and the timestamps are still missing, but it seems to be working without it.

[2016-03-12 21:48] tringler commented on #147
Who can confirm, that the login via cookieContainer is not working?

[2016-03-12 23:50] mtdx opened #239 "Remove all Sold"
Why do we have to remove each sold card with RemoveFromTradePileAsync when there is a nice "Remove All Sold" call?
http://prntscr.com/aeilho

[2016-03-12 23:55] jvianafec commented on #239
checks whether the item already the current bid is greater than 0 and the time is -1

[2016-03-12 23:57] mtdx commented on #239
Can't we just make that call? seems such a waste of RPMs

[2016-03-13 00:05] jvianafec commented on #239
anyway, u will have to do this query. It is not disperdicio. unless you know exatamenti itemdata.id the item you want to remove.

[2016-03-13 11:13] Lululuz commented on #239
For the watchlist you can hand over a list containing the auctioninfos you want to remove. Maybe it works the same way if you ajust the toolkit for the tradepile. If there is a function on the webapp there is also a way of implementing it in the toolkit.

[2016-03-13 11:30] tringler commented on #239
I provided a pull request: https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/241

[2016-03-13 12:20] #239 closed

[2016-03-13 18:33] tringler commented on #201
I will to try to implement this tonight and send a pull request.

[2016-03-13 18:39] mtdx commented on #201
The request itself is not complicated, quite simple, I just format a string as json by string.format, I'm not even sure I'm sending the right pin requests, in my spaghetti code, but it did helped, I had bans before and I don't remember having any bans since i implemented it but is been only 2-3 weeks.

[2016-03-13 18:41] tringler commented on #201
Yes, but you need to set your sid, nucleus id, the toid and fromid each request. Then you need to know which request you made before.

[2016-03-13 18:45] tringler commented on #201
Do you know for which requests we have PinRequests so far I seen:

* GetWatchlist
* GetTradepile
* PlayerSearch

What else?

[2016-03-13 18:48] mtdx commented on #201
Yes, I set those manually as parameters, here are the headers I'm using maybe it helps.

I'm sending a pin request after each call, after listing a card, removing a card, login, unassigned, etc. As far as I know each call has a pin request.

`
        protected void AddPinHeaders()
        {
            HttpClient.AddConnectionKeepAliveHeader();
            HttpClient.AddRequestHeader("Origin", "h

[2016-03-13 18:58] mtdx commented on #201
`using System.Net.Http;
using System.Threading.Tasks;
using UltimateTeam.Toolkit.Constants;
using UltimateTeam.Toolkit.Models;

namespace UltimateTeam.Toolkit.Requests
{
    internal class PinEventRequest : FutRequestBase, IFutRequest<byte>
    {

        bool mobile = false;
        int s = 0;
        string fromid = "";
        string toid = "";
        string menu = "";
        string en = "";

[2016-03-13 19:17] tringler commented on #201
Can you send me the Ids you identified - I would create a Model for the request, because it's better to debug.

[2016-03-13 19:30] mtdx commented on #201
I don't have that my parameters looks something like

await utClient.SendPinEventDataAsync(mobileActive, sessionRequests, currentLocation, "Transfer Market Search Results", "menu", "page_view", false);

[2016-03-13 19:33] tringler commented on #201
Yes looking exactly for the IDs like "Transfer Market Search Results", which is set in the variables toid and fromid - The variable menu is always "menu"?

[2016-03-13 19:38] mtdx commented on #201
await utClient.SendPinEventDataAsync(mobileActive, pinRequests, "status", "success", "nucleus", "login", true);
 await utClient.SendPinEventDataAsync(mobileActive, sessionRequests, currentLocation, "Transfer Market Search", "menu", "page_view", false);
 await utClient.SendPinEventDataAsync(mobileActive, pinRequests, currentLocation, "Transfer List", "menu", "page_view", false);
 await utClient.Sen

[2016-03-13 19:47] tringler commented on #201
Nice! Thanks! A few additional questions:

* There is no Pin Request if I Bid or BIN? Or I send an item to tradepile? It looks like PinRequests are sent if I click on a new menu item right?

* When we call await utClient.SendPinEventDataAsync(mobileActive, pinRequests, currentLocation, "Transfer Market Search", "menu", "page_view", false) and when we call await utClient.SendPinEventDataAsync(mobil

[2016-03-13 19:55] mtdx commented on #201
No, no pin for place bid/send to trade-pile, Transfer Market Search before SearchAsync Transfer Market Search Results after

[2016-03-13 19:58] tringler commented on #201
So you would do it like this:
[code]

[2016-03-13 20:01] mtdx commented on #201
await utClient.SendPinEventDataAsync(mobileActive, sessionRequests, currentLocation, "Transfer Market Search", "menu", "page_view", false);
currentLocation = "Transfer Market Search";

results = await utClient.SearchAsync(Parameters);

 await utClient.SendPinEventDataAsync(mobileActive, sessionRequests, currentLocation, "Transfer Market Search Results", "menu", "page_view", false);
currentLocation

[2016-03-13 20:07] tringler commented on #201
Ok :+1:

Plus we have:

var purchasedItemsResponse = await client.GetPurchasedItemsAsync();
await utClient.SendPinEventDataAsync(mobileActive, pinRequests, currentLocation, "Unassigned Items", "menu", "page_view", false);

var watchlistResponse = await client.GetWatchlistAsync();
await utClient.SendPinEventDataAsync(mobileActive, pinRequests, currentLocation, "Transfer Targets", "menu", "page_view

[2016-03-13 20:11] mtdx commented on #201
await utClient.SendPinEventDataAsync(mobileActive, pinRequests, currentLocation, "Unassigned Items", "menu", "page_view", false);
currentLocation = "Unassigned Items";
pinRequests++;

var unassignedList = await utClient.GetPurchasedItemsAsync();

 await utClient.SendPinEventDataAsync(mobileActive, pinRequests, currentLocation, "Transfer Targets", "menu", "page_view", false);
            currentLoc

[2016-03-13 20:19] tringler commented on #201
Ok - We need to count the requests. I don't get it:

Here we send it before:
[code]

Here we send it afterwards:
[code]

[2016-03-13 20:28] mtdx commented on #201
S is the requests number and yes we need to count here are the parameters

Task SendPinEventDataAsync(bool Mobile, int S, string FromID, string ToID, string Menu, string En, bool Status)

[2016-03-13 20:30] tringler commented on #201
Yes - Clear, but how about the other question - PinRequests for Watchlist, TradePile and Unassigned Items coming BEFORE the calls and for Transfer Market Search/Transfer Market Search Results they are coming AFTER the calls? Really?

[2016-03-13 20:36] mtdx commented on #201
I don't know the internalls, I just folowered the calls, Transfer Market Search is the search page http://prntscr.com/aeunp6 I suppose search async goes to that first, and then goes to the results pages.

 and then it moves back

if (currentLocation == "Transfer Market Search Results")
                    {
                        //pin data event info
                        await utClient.SendPi

[2016-03-13 20:48] tringler commented on #201
I just tested it - You're right:

For Tradepile, Watchlist and Unassigned Items the PinRequest is called before the i.e. GetWatchlist.
For Transfermarket:

PinRequest (Transfer Market Search)
Search Player
PinRequest (Transfer Market Search Results)

[2016-03-13 20:58] tringler commented on #201
Thanks for sharing your work - I will implement it into a pull request

[2016-03-13 21:17] mtdx commented on #201
You welcome, I did the mobile login too some time ago, if you have any questions on that.

[2016-03-13 21:20] tringler commented on #201
Then have a look to my pull request - Maybe you have some comments on it. Would be nice if you know us next time such things, because we did double-work the mobile login :-/

[2016-03-14 15:51] tringler commented on #201
Do you have also the page Ids for mobile pin requests like:

`pgid=Hub - Home`

[2016-03-14 15:58] mtdx commented on #201
nop, sorry.

[2016-03-14 16:02] tringler commented on #201
You are sending the WebApp strings into the companion app right?

[2016-03-14 16:06] mtdx commented on #201
pretty much, it didn't occur to me that are different, since all other requests all the same.

[2016-03-15 06:21] tringler commented on #201
By the way - There are a lot of various pin requests I traced:

`
using System;
using System.IO;
using System.Runtime.Serialization;

namespace UltimateTeam.Toolkit.Models
{
    /// <summary>
    /// Enumerating Pin Event Ids
    /// </summary>
    public enum PinEventId
    {
        [EnumMember(Value = "Home")]
        WebApp_Home,
        [EnumMember(Value = "Login")]
        WebApp_Login,

[2016-03-15 06:25] tringler commented on #201
@trydis : Could you help me how to call a webrequest within a webrequest:

This is my PinEventRequest:

[code]

I need to call it in example within this request:

[code]

How can I do this without breaking your concept? Thanks!

[2016-03-15 19:10] trydis commented on #201
@tringler: I've just skimmed though the posts, so forgive me if i've missed some details. Will the `PinResponse` be used for anything inside the `SearchRequest`?

[2016-03-15 20:25] tringler commented on #201
@trydis No, we just to send the request to fulfil the pin requests like:

        public async Task<AuctionResponse> PerformRequestAsync()
        {
            var uriString = string.Format(Resources.FutHome + Resources.TransferMarket + "?start={0}&num={1}",
                (_searchParameters.Page - 1) * _searchParameters.PageSize, _searchParameters.PageSize + 1);
            _searchParameters.Bu

[2016-03-15 23:42] trydis commented on #201
Just some brainstorming...

One possibility is adding them in the `FutClient` class, i.e.:
[code]

Another solution could be subclassing the different requests and adding the pin requests where applicable.

I guess it depends whether they're always needed or not. This would force everyone who's using the toolkit to perform those requests, even though we're not sure they're needed?

[2016-03-16 00:34] tringler commented on #201
Hello trydis,

Yes, my first thought was also if this should work out-of-the-box from the toolkit or it should just be another request and the corresponding frontend needs to implement the pin requests. At the end I think sooner or later it's needed / recommended for each session.

I think we should implement it out-of-the-box, but also have the option to add pin as  standard transaction with stri

[2016-03-16 11:31] mtdx commented on #201
I would just do everything fine, low RPMs, new IPs etc. and still get bans, but since I added pin requests no bans.

[2016-03-16 11:52] A-VORONKIN opened #242 "JsonSerrilizationError"
Could not find member 'Item' on object of type ',1 enil', 'metl` hTap' .' position 8.
when searchhing players. with consumables everything works fine.

[2016-03-16 12:17] tringler commented on #201
Basically I think it's working with any pin requests, but I would like to implement exactly like it's sent by framework.

[2016-03-16 13:35] #242 closed

[2016-03-16 15:58] trydis commented on #201
Thanks for the info @mtdx. It would be great if you could give it a shot @tringler and open a pull request. We can all discuss it there and find a nice solution together :smile:

[2016-03-16 16:06] tringler commented on #201
Ok - I just wanted to be sure I'm not implementing in the complete wrong direction and wasting a lot of hours.

[2016-03-16 16:16] tringler commented on #235
@trydis Can you pls close it - 18 days without feedback.

[2016-03-16 17:37] #235 closed

[2016-03-16 20:12] tringler commented on #201
Two additonal GIT questions:

a) I have 3 pull requests open and with that PinRequests pull request I need to change files again, which I already changed with other pull requests.

b) For the last commit to https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/238 I will push that evening I need to change sth in the pull request https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/241

Ho

[2016-03-16 20:13] mtdx commented on #201
As long as the browser makes the calls as an automatic echo the toolkit should do as well by default, but of course with an explicit off flag.

[2016-03-16 20:29] tringler commented on #201
@mtdx
OK - I will implement it like this:
[code]

[2016-03-16 20:33] mtdx commented on #201
looks good, looking forward to test it since my implementation is so hackish and spaghetti code.

[2016-03-16 23:28] trydis commented on #201
@tringler: The best would probably be to wait until i've merged the 3 existing PRs. Unfortunately it looks like i won't have time until Friday evening.

Once i've merged the changes you can:
* Pull the latest changes from my master branch into your master branch
* Create a branch, i.e. "PinEvent" based on the updated master branch

If i understand correctly, you need to push some changes to #241,

[2016-03-17 08:56] tringler commented on #201
@trydis

OK - I will wait for the other PRs - I think I also need a few days to complete the PIN requests branch.

Allright - I will push the last commit to https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/238 AND push an additional commit to https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/241, that is actual with https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/238 - Y

[2016-03-18 00:01] tringler commented on #201
All PRs are ready to merge - I'm waiting for merge now to send the pin request PR then.

[2016-03-18 09:25] trydis commented on #201
Great @tringler, will do it tonight.

[2016-03-18 20:45] trydis commented on #201
@tringler: Like i mentioned in the PRs i've merged them into the [vnext branch](https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/commits/vnext).

I see that there's some opportunities to refactor the code, so please hold your horses until i've pushed some more commits to the vnext branch. I'll let you know when it's done :smile:

Thanks for the effort so far :+1:

[2016-03-18 21:05] tringler commented on #201
Thanks a lot for your work - By the way I tested all FutClient calls and seen `var imageBytes = await client.GetPlayerImageAsync(auctionInfo);`

doesn't work anymore, because it generates URIs like:
`GET /fifa/fltOnlineAssets/B488919F-23B5-497F-9FC0-CACFB38863D0/2016/fut/items/images/players/web/-2063409001.png`

Can you change `_auctionInfo.CalculateBaseId()` to `_auctionInfo.ItemData.AssetId` in

[2016-03-20 20:51] tringler commented on #201
@trydis :
I basically completed my implementation, but I'm struggling with the login pin requests for the companion app. Need I really split up the LoginRequest or do you see a possibility to send the request inside the Loginrequest? It's like:

[code]

[2016-03-20 21:35] trydis commented on #201
Ok, but like i mentioned i really want to refactor some of the code before adding more. There is quite a lot of duplicated/unnecessary code, i've started to refactor this as we speak and will push to the vnext branch as i go along. If you want to avoid having to deal with merge conflicts i suggest you wait until i've completed at least the biggest changes.

[2016-03-20 21:43] tringler commented on #201
Yes for sure - I really appreciate that! You should definitely refactor my amateur work into professional code design. I just asked how you would implement that pin requests inside the login process to prevent a completely wrong implementation and prevent more refactoring work for you.

[2016-03-20 22:21] trydis commented on #201
Well, i can at least try to improve it somewhat :smile: I really should have unit tests for everything, but i don't have the json requests/responses for everything.

You could pass the pin request `func` to the login request in the `FutRequestFactories`class. Then you can invoke it whenever you need to create a `PinEventRequest` in the login request.

[2016-03-20 22:33] tringler commented on #201
How can I help you with:

To be honest I never got how the unit tests help us in this toolkit.

[2016-03-20 22:48] trydis commented on #201
In cases where EA changes the requests/responses. Then we could add the changed JSON requests/responses to the tests and make sure we handle them correctly, without making actual HTTP requests all the time. That's the whole reason for all the `func`stuff as well, to be able simulate requests/responses to the EA servers in the tests. Normally i would just use an [IoC](https://en.wikipedia.org/wiki/

[2016-03-20 22:56] tringler commented on #201
Yes, it's just to see how the code would actually handle a response from EA, but at the end of the day you need to test your code with the EA production servers - I mean the unit tests cannot replace a test script against the EA servers.

[2016-03-20 23:01] trydis commented on #201
Sure, they can't replace actual requests. It just makes it easier once you know there's a change. Also it makes it easier to see if changing the code in one place breaks something elsewhere in the code. But they're not very useful as-is, since i'm not playing UT anymore, and not keeping them up-to-date.

[2016-03-20 23:05] tringler commented on #201
Ok - You meant you should have unit tests for everything, because you don't have a FUT account anymore and you are not able to see how a change would affect the code?

[2016-03-20 23:14] trydis commented on #201
No, i have an account, just not using it.

Let's say a JSON response used to be
[code]

For some reason EA decides to change it to:
[code]

Someone notices that they toolkit isn't working and grabs the new JSON response.

Without tests i guess the flow would be (for a more complex change): write some code, test it with an actual request, write some more code, test with an actual request, change th

[2016-03-20 23:28] tringler commented on #201
Ok - Got you! I doubt a bit if it's working in the "real world", because often you are struggling with missing headers, sometimes it's needed to call another request before your actual call, etc. - 95% of all requests are pretty simple - Just get the JSON, write the class around it, deserialize it, cross the fingers and send it to EA servers. The unit tests would just help us to ensure if we have

[2016-03-21 07:45] trydis commented on #201
Yup and it's possible to create a test that verifies this, without sending an actual request to EA. You grab the request/response with a web proxy, now you know what it's supposed to look like **until they change it**. It's a huge time saver when implementing stuff and safety net when changing the code. After i've changed some of the code now, i have no idea if i've broken something that was worki

[2016-03-21 14:53] A-VORONKIN commented on #201
Update credits on every request
https://github.com/oczkers/fut/pull/173

It would be great to implement same thing

[2016-03-21 15:18] DjTrilogic commented on #201
You can do that on the upper layer…

De : A-VORONKIN [mailto:notifications@github.com]
Envoyé : Monday, March 21, 2016 3:53 PM
À : trydis/FIFA-Ultimate-Team-Toolkit <FIFA-Ultimate-Team-Toolkit@noreply.github.com>
Objet : Re: [FIFA-Ultimate-Team-Toolkit] PinEvent (#201)

Update credits on every request
oczkers/fut#173 <https://github.com/oczkers/fut/pull/173>

It would be great to implement same th

[2016-03-21 21:00] trydis commented on #201
@A-VORONKIN, you already get the updated value in the search response: https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/blob/master/UltimateTeam.Toolkit/Models/AuctionResponse.cs#L11

[2016-03-21 21:13] mtdx commented on #147
is the vnext version ready to test the mobile login? I know there was an issue with the headers on the Web App requests, relisting an item.

[2016-03-21 21:42] tringler commented on #147
Trydis is currently refactoring my code - It's basically ready to use - Testing and bug reporting is highly appreciated! I documented two known errors here:

https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/238

[2016-03-22 16:31] mtdx commented on #147
Does your mobile login branch work? did you fixed the typo and the headers, I don't know which to try, I see a vnext branch, and a WIP branch and then yours.

[2016-03-22 19:34] tringler commented on #147
a) You can use my mobile branch and correct the typo and the headers by yourself
b) Wait until trydis refactored the code

AFAIK:
vnext branch = testing branch for new PRs
WIP branch = branch trydis is using for refactoring

[2016-03-23 14:13] mtdx opened #243 "Quick List"
Any chance we can get a quick list request from the transfer targets? Will save from sending to trade pile.

http://prntscr.com/aixy6q

[2016-03-24 22:15] trydis opened #244 "New version - 3.0.0"
I've pushed a prerelease version of 3.0.0 to [NuGet](https://www.nuget.org/packages/UltimateTeam.Toolkit/3.0.0-rc3), based on the [vnext branch](https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/tree/vnext).

Includes:
https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/238
https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/240
https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/p

[2016-03-26 00:17] Extremeg opened #245 "Create Account"
Hi, its possible to you can add to the library, the possibility to can create playstation accounts, xbox accounts and finaly ea accounts?

[2016-03-26 11:19] tringler commented on #245
As this cannot be done via the FUT WebApp / Companion App i don't think this should be implemented in this framework. (Beside of I don't know how to do this without buying a FIFA game for the corresponding platform)

[2016-03-26 11:21] tringler commented on #243
I can take care of if all changes from vnext branch merged to master branch.

[2016-03-26 11:47] Extremeg commented on #245
Hi tringler thanks for you answer, but its necessary if you dont want to create accounts

[2016-03-26 11:48] Extremeg commented on #245
Whats with player packs? How i can open player packs or see if a player has a contract?

[2016-03-26 12:14] tringler commented on #245
Feel free to open a pull request :) - Open player packs is not implemented to my knowledge - You can check the contracts on itemdata which is attached to auctioninfo object.

[2016-03-26 18:00] Extremeg commented on #245
The prob is i dont know how :D

[2016-03-26 18:02] Extremeg commented on #244
Do you can add the support to open player packs pls?

[2016-03-26 18:20] tringler commented on #245
Here you go: https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/issues/208#issuecomment-165779443

[2016-03-26 18:28] mtdx commented on #243
Can you also please take a look at the headers, I changed it a little on mine, may not matter much.

http://prntscr.com/akcyd8

[2016-03-26 18:36] tringler commented on #243
As far as I know I already pushed the new headers in one of my pull requests - Check out the current vnext branch: https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/blob/15824bfd67c9e4cc429c09be04b53cba0054957e/UltimateTeam.Toolkit/Requests/FutRequestBase.cs

[code]

[2016-03-26 18:37] mtdx commented on #243
I see, I wasn't aware, thanks.

[2016-03-26 19:29] Extremeg commented on #245
No i dont know how, i must do it programatically. To access to the player packs.

[2016-03-26 19:38] tringler commented on #245
Sorry, but I don't get you - What do you want to do exactly? What is the issue?

[2016-03-26 19:52] tringler commented on #201
@trydis

Can you give me a hint how to do this? I just don't get ot how you meant it

[2016-03-26 22:53] trydis commented on #201
@tringler:

[code]

Used like this:
[code]

Let me know if it doesn't make sense :smile:

[2016-03-27 02:14] Extremeg commented on #245
The issue was at first about the accounts. Then i have asked if its possible to access to player packs

[2016-03-27 09:06] tringler commented on #245
Yes and I explained to you how to create pull requests for these implementations,

[2016-03-27 13:16] tringler opened #246 "Captcha@CompanionApp"
This is just a reminder for myself and just FYI - It looks like captcha is also implemented in the companion app - As soon as vnext branch is merged into master I will pull these changes:

ValidateCaptcha.cs:
[code]

CaptchaRequest.cs:
[code]

[2016-03-27 18:32] Extremeg commented on #245
the second point

[2016-03-27 19:46] tringler commented on #201
Thanks! Working like a charm!

In my implementation:

[code]

[code]

PinRequest implementation is done. I'm justing waiting that the vnext branch will be merged to master after some people reported that the vnext branch has no errors.

[2016-03-27 19:50] tringler commented on #245
Ok - I'm basically open to raise a pull request regarding opening packs for the toolkit, but I don't see the feature to create FUT accounts definitely **not ** in the toolkit as long as the WebApp give us that possibility.

[2016-03-27 21:07] trydis commented on #201
Ok, great. Yeah, i'm depending on others to test the prerelease, since i don't have an app that uses the toolkit to test with at the moment.

[2016-03-28 15:05] mtdx commented on #244
What happened with client.RequestFactories.CookieContainer?

[2016-03-28 16:29] trydis commented on #244
I see that it was removed here: https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/238/files#diff-12cb7e6a147c95d0cbf87b9bb653e38fL93.

I guess there are no reason to remove it, so i'll add it again. Thanks for the feedback @mtdx.

[2016-03-28 18:54] A-VORONKIN commented on #245
@tringler do you know how to get consumables from club? for now we can only get players from club.

[2016-03-28 18:59] tringler commented on #245
Pls don't open the 3rd topic on this issue thread. Pls open a new one.

[2016-03-28 19:02] mtdx commented on #244
@tringler any reason you removed it? Is there another method? https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/238/files#diff-12cb7e6a147c95d0cbf87b9bb653e38fL93.

[2016-03-28 19:06] tringler commented on #244
No, obviously my fault

[2016-03-28 20:36] mtdx commented on #244
@tringler I get {"error":"invalid_grant","error_description":"code is invalid"} when I try to connect via companion app, but I did checked, the emails codes are good and the web app login works fine with emails codes, any ideas?

[2016-03-28 20:38] tringler commented on #244
after which call?

[2016-03-28 20:42] mtdx commented on #244
GET /p/mobile/fifa/companion/code?code=QUORADljvCxnYZFJlwfMNOyK.......
then
POST /connect/token HTTP/1.1
{"error":"invalid_grant","error_description":"code is invalid"}

I write to the console the call to the ITwoFactorCodeProvider and I see beeing called and that the returned code is right.

[2016-03-28 20:49] tringler commented on #244
You know that these codes have nothing to do with the TwoFactor codes right? Normally LoginMobileRequest.cs should send your code `GET /p/mobile/fifa/companion/code?code=QUORADljvCxnYZFJlwfMNOyK.......` into the GetAuthTokenAsync method.

[2016-03-28 20:55] mtdx commented on #244
Looks to me that it gets blocked at the TwoFactor email code, I keep getting EA codes on email, I didn't do nothing custom, is the vnext branch as it is. Where is the issue?

http://prntscr.com/al9z48

[2016-03-28 21:02] tringler commented on #244
Can you post your code where you test the vnext branch?

[2016-03-28 21:07] mtdx commented on #244
ITwoFactorCodeProvider provider = new ImapTwoFactorCodeProvider(Gmail, Gpassword);
                LoginDetails loginDetails = new LoginDetails(Email, Password, FutSecurityAnswer, Platform.Ps3, AppVersion.CompanionApp);
                LoginResponse loginResponse = await _utClient.LoginAsync(loginDetails, provider);
                CookieContainer cookiecontainer = _utClient.RequestFactories.Cooki

[2016-03-28 21:12] tringler commented on #244
You should debug it and check which code used here: `var authToken = await GetAuthTokenAsync(**_code**);`

It should be the code you get here: `GET /p/mobile/fifa/companion/code?code=QUORADljvCxnYZFJlwfMNOyK.......`

[2016-03-28 21:16] trydis commented on #244
@mtdx: I've pushed a new prerelease to NuGet, which has the CookieContainer getter.

[2016-03-28 21:19] mtdx commented on #244
Thanks @trydis ,

@tringler I see in the POST https://accounts.ea.com/connect/token HTTP/1.1

`grant_type=authorization_code&code=&client_id=FIFA-16-MOBILE-COMPANION....`

Code is empty, but why? do you have any ideas?

[2016-03-28 21:32] tringler commented on #244
After the sending your TwoFactorCode you should get code here:

[code]

Yoh should check what you get as contentData.

[2016-03-28 21:39] mtdx commented on #244
I get the code as content QUORADljCByGxEjIcsydFmp..... but is 40 length, code so because of the contentData.Length <= 64 it doesn't get assigned?

[2016-03-28 21:41] tringler commented on #244
for sure it should be assigned, because it's lower than 64 - Pls verify why it doesn't get assigned by debugging

[2016-03-28 21:55] mtdx commented on #244
OK, it goes into SkipAuthenticatorAdvertiseAsync which doesn't assigned _code but gets the right content but _code never gets assigned when SkipAuthenticatorAdvertiseAsync returns since is an else if
`
var contentData = await authenticatorResponseMessage.Content.ReadAsStringAsync();` in SkipAuthenticatorAdvertiseAsync remain unused.

[2016-03-29 01:12] A-VORONKIN opened #247 "Get Consumables from Club"
We already have implemented getting players from club but how to get consumables? I tried to implement it by myself. It is not hard to get club items (kits, badges, stadiums) or staff from club. But I don`t understand how to get consumables. There is no id for them like for other type of cards.

[2016-03-29 01:26] mtdx commented on #244
Other than the login issue above everything seems to be working but I think we need better exception handling on mobile, which seems to be lacking with just "Response code doesn't indicate success" also getting the gifts list is not implemented.

[2016-03-29 07:22] tringler commented on #244
Yes, because I don't know if gifts even implemented in the CompanionApp and if yes, I need the requests/responses for it - That's the reason why it's not implemented. It's the same like for captcha handling, but this I will implement as soon as the vnext brach got merged. See https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/issues/246

I know the bug, which you described, but this should be fi

[2016-03-29 07:41] tringler commented on #245
@ExtremeG: Can you pls open a new issue thread regarding "Open Packs" and close this one regarding "Create Accounts", because it should not part of the toolkit, I will take care of the "Open Packs" issue the next weeks.

[2016-03-29 09:53] mtdx commented on #244
Don't know what to say about how to fix the bug, I just added that "if" in SkipAuthenticatorAdvertise and worked fine after.

[2016-03-29 13:20] tringler commented on #244
I assume **you don't apply the commit** https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/238/commits/7539363ee6565e58edc1512488a962a3bd48dda2 - You added this inside the call SkipAuthenticatorAdvertise here:

[code]

and I added it outside the call here:

[code]

[2016-03-29 13:29] mtdx commented on #244
I have the vnext with all its commits, but here in SetTwoFactorCodeAsync
[code]
you can see that it goes into SkipAuthenticatorAdvertise which doesn't do   _code = contentData; and when it returns due to the else it just exits the function.

The file you mention doesn't have that double else else you're pasting, also a double else else would not work in that context. I think we already confused @t

[2016-03-29 13:46] tringler commented on #244
I'm also confused, but I think I got it now! :D

@trydis: Can you apply @mtdx proposal? I just realized I never ran into the SkipAuthenticatorMethod, since I have activated the Google Authenticator.

[2016-03-29 15:25] mtdx opened #248 "Companion App Login 465 status code"
Any reason @tringler I get 465 on  `GET /ut/game/fifa16/user/accountinfo?sku=FUT16AND&_=14592.... ` and then the login fails?

I also logged in from my phone and worked, only thing I would mention is that at the end I asked to accept EULA agreement.

http://prntscr.com/alla7c

[2016-03-29 15:54] tringler commented on #248
What is the response raw content?

[2016-03-29 16:07] mtdx commented on #248
Empty, but I think is because you're using utas.s2.fut.ea and I'm trying a 360 accounts, for xb1/360 is utas.s3.fut.ea (s3). Where are these set?
[code]

[2016-03-29 16:40] mtdx commented on #248
@tringler got it, we need to overwrite the s2 mobile resurces for xbox

[code]
I did put it here, http://prntscr.com/almdy7 which is just for testing, I suppose there is a better location to put it, also are those all s2 mobile resources?

Can you please make a pull request with this and the other fix?

[2016-03-29 17:24] tringler commented on #248
Right! Issue is here:
[code]

Should be:

[code]

Can you test that fix?

[2016-03-29 17:26] mtdx commented on #248
Please see this http://prntscr.com/almdy7 I did that, but is not enough, there are other mobile resources with "s2" too, yes basically I tested the fix and fixed it as you can see in the screenshot.

[2016-03-29 17:28] tringler commented on #248
Time for a new PR I would say

[2016-03-29 17:37] tringler commented on #248
Can you check if it's really needed to overwrite this URI? `Auth = "https://utas.s2.fut.ea.com/ut/auth?timestamp={0}";` - Sorry, but I don't have a xB account to test it.

[2016-03-29 18:44] mtdx commented on #248
I overwritten all 4 and works fine, `Validate`, `AccountInfo`, `FutHome` too, as far as i know, all `utas.s2.fut.ea.com....` should be `utas.s3.fut.ea.com....`  for xbox1 and xbox360, as you can see in the screenshot the login sequence the Auth one is working.

http://prntscr.com/alobde

I have a felling you're seeing my screenshots.

[2016-03-29 18:50] tringler commented on #248
Ok - Can you verify if you get the same requests via original companion app?

[2016-03-29 18:56] mtdx commented on #248
I haven't set up, phone via fiddler, I can't, I don't even have Windows, I'm using a VM, is there any other way to check it? But as long as it logs in fine as it is now..

[2016-03-29 19:05] Extremeg opened #249 "Open Packs"
Can someone implement it to the lib that we can access the packs pls?
Another Question is if you can gve me an answer on my question which i have send you per mail.

[2016-03-29 19:07] tringler commented on #248
Yes, but I want to have a clean implementation - Our should exactly do the same authentication as the companion app - I assume you are using IOS and Mac OSX? Basically you need to import the Fiddler root to your iPhone (just send a email with the certificate to your phone) and configure the proxy you setup in Fiddler:

http://conceptdev.blogspot.de/2009/01/monitoring-iphone-web-traffic-with.html

[2016-03-29 19:13] tringler commented on #244
@Extremeg Pls remove this post from this thread.

[2016-03-29 19:14] tringler commented on #249
I will take care of as soon as the vnext branch is merged to master.

[2016-03-29 19:38] mtdx commented on #248
Yes, man, xbox is with s3, I went trough my personal login code, and yes that is tested with the companion app,  please take a look at it in case you missed something.

[code]

[2016-03-29 19:47] tringler commented on #248
a) I would prefer to set the s2,s3 stuff in `Resources.cs` and set up via `FutRequestFactories.cs`

[code]

b) await IsLoggedInAsync() is not called via Companion App

[2016-03-29 19:53] mtdx commented on #248
Thanks for the notice I will take a look, and yes, I don't say to overwrite all there, how I showed you in the screenshot, that was for testing, how you say is good.

[2016-03-29 19:54] tringler commented on #248
Why we just get my implementation, add support for the s2,s3 stuff and fix the SkipAuthenticator bug?

[2016-03-29 20:17] mtdx commented on #248
Right, I don't remember any other quirks of it, but is been some time, also I don't remember having other issues after.

[2016-03-29 20:32] tringler commented on #248
OK - Just be sure:

[code]

and

[code]

...should do the job right?

[2016-03-29 20:37] mtdx commented on #248
Yes that looks right as you can see here too, http://prntscr.com/alq6bx

[2016-03-29 20:50] tringler commented on #248
PR created - I think you can close this issue.

[2016-03-29 20:52] tringler commented on #244
@trydis - I pushed a PR which contains the both bugfixes @mtdx mentioned. Accidently pushed into master branch, but it should not be a problem to apply it to vnext branch as far as I know.

[2016-03-29 20:53] mtdx commented on #248
OK, I see you pulled in a lot of commits, hope nothing got messed, but the 2 bug fixes looks right.

[2016-03-29 20:53] #248 closed

[2016-03-29 21:57] trydis commented on #244
Thanks @tringler, I'll take a look tomorrow :+1:

[2016-03-29 22:11] mtdx opened #252 "Companion App Exceptions"
Just a reminder, now is missing exceptions like CaptchaTriggeredException, InternalServerException, ExpiredSessionException, etc.

[2016-03-30 07:53] tringler commented on #252
Do you know why? My changes should not touch exception handling.

[2016-03-30 10:49] mtdx commented on #252
well for now I'm handling it, by seeing which code the exception throws, 461 permission denied, 500 server error, etc. while on the web app I can just catch the specific exception.

I'm not saying your changes should do it, but I think will be good to be implemented at some point, I may even try my first pull request on github.

[2016-03-30 11:31] tringler commented on #252
Yes, give it a try :+1:

I guess what to be fixed is adjust this Model to the Model you get via Companion App:

[code]

As I remember correctly the Companion App writes the `FUTErrorCode ` in another structure. You need to define that structure in a new class and then pass the appVersion to the Deserializer. Based on which AppVersion is used you deserialize to `FutErrorWebApp` (renamed) or `FutErr

[2016-03-30 12:43] tringler commented on #252
I would propose you create a PR for the vnext branch.

a) Fork this repo
b) Make the vnext as default branch in your forked repo (Your repo --> branches)
c) Create a branch called CompanionApp-Exceptionhandling from your master branch (which shoudl vnext)
d) Update your branch from upstream (vnext branch)
e) Insert your changes & Commit
f) Create a PR into vnext branch

[2016-03-30 12:48] mtdx commented on #252
Just that it needs to dive a little to deep into the toolkit internals and more advanced C# stuff for my taste.

I've been testing more, so far looks like the initial web app requests are fine, nothing broken.

[2016-03-30 13:47] tringler commented on #252
Feel free to ask if you have additional questions.

[2016-04-01 15:38] #252 closed

[2016-04-01 19:53] A-VORONKIN commented on #247
Thanks, I will try to implement it.

[2016-04-02 14:44] a7medit commented on #201
is this feature merged to vnext branch?

[2016-04-02 20:47] tringler commented on #201
@a7medit - Nope, I'm waiting until vnext branch is merged to master, to have a clean code base.

[2016-04-02 22:50] solorinka commented on #147
error 400, i guess you set _code wrong
[code]
now the mobile login works for me

[2016-04-02 23:15] tringler commented on #147
The patch for this bug is in that PR: https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/251

[2016-04-03 20:47] trydis commented on #244
I've pushed another prerelease package, which includes #251: https://www.nuget.org/packages/UltimateTeam.Toolkit/3.0.0-rc3

[2016-04-04 11:19] maksoy2099 opened #253 "Unable to Search Players, Consumables, etc"
Hi,

I'm trying to search for players, consumables, etc and it keeps crashing with a http 500 internal server error.

[2016-04-04 13:07] a7medit commented on #201
Is it possible to share your code so i can test it?

[2016-04-04 13:16] tringler commented on #201
Not really, because I need to refactor the code if vnext is merged into master. So you can fasten it up if you just test the current vnext branch. Once it's completed I will refactor my PinRequest code, send a pr request and then you can test the new vnext branch.

[2016-04-04 14:11] stefanoIT opened #254 "GetItemAsync not working properly"
Hey guys,
just reporting FutClient.GetItemAsync is not working properly on vnext branch

If you call it by using AuctionInfo parameter it doesn't calculate the baseID properly and app returns 4xx error

If you call it by  long resourceId it works but the parameter name is "confusing" (if you pass me the term) because it's not the resourceID you need to pass but the assetID

I do apologies if I can

[2016-04-04 14:48] mtdx commented on #244
Just tested the new prerelease fixes and are working fine.

[2016-04-04 18:56] Extremeg opened #255 "Unable to Login"
Hi guys, i have currently an bug but i dont know why does exactly this error comes.

UltimateTeam.Toolkit.Exceptions.FutException: Unable to login ---> UltimateTeam.Toolkit.Exceptions.InternalServerException: Code: InternalServerError ---> Newtonsoft.Json.JsonSerializationException: Could not find member 'debug' on object of type 'UserAccounts'. Path 'debug', line 1, position 9.

[2016-04-04 20:20] trydis commented on #244
Thanks for the feedback @mtdx. I'll leave this open a few days just in case something's discovered on certain platforms etc.

[2016-04-04 20:27] mtdx commented on #255
This looks like a EA server error, these happens sometimes, high RPM maybe, busy servers.

[2016-04-04 20:31] mtdx commented on #243
no point in doing this, since behind the scenes there are 2 requests, 1 send to trade pile and 1 list, we save nothing, is just a convenience button.

[2016-04-04 20:31] #243 closed

[2016-04-06 13:23] kauefelipe opened #256 "Is ReListAsync and RemoveFromTradePileAsync working?"
Hi guys...

I was using some methods to make changes for single item in my piles... but i tried refactoring it and this both are not working for me...

The **ReListAsync** is not working for me  (but **ListAuctionAsync** works fine)...

And **RemoveFromTradePileAsync** when the parameter is a single AuctionInfo is working but if i use with list of AuctionInfo nothing happens.

Someone have this pr

[2016-04-07 09:51] tringler commented on #256
As far as I know you cannot remove more than one item at once via `RemoveFromTradePileAsync` - To my knowledge you cannot do this in the WebApp, so the toolkit is also not able to provide this.

Pls describe the error more than just "is not working"

[2016-04-07 09:52] tringler commented on #255
This is also a known behaviour when the webApp is in maintenance mode. If you would using the webApp you will see "Sorry - Our servers are temp. down"

[2016-04-07 09:55] tringler commented on #254
Hello,

you're right! All AssetId, ResourceId and DefinitionId stuff needs to rework. It's really confusing! Pls send me your Request which is causing the error.

[2016-04-07 09:56] tringler commented on #247
Pls close if your question is answered.

[2016-04-07 09:57] tringler commented on #245
@trydis : Could you pls close that issue? I assume "Create Origin accounts" should not be a part of the toolkit.

[2016-04-07 09:58] tringler commented on #253
Pls send the request which throws the error. We need a detailed error description to help you out.

[2016-04-07 11:06] #245 closed

[2016-04-07 17:20] kauefelipe commented on #256
Hi tringler,
thanks again for trying to help me...

Yes, we can... in the web app exists one button and in the toolkit the client method RemoveFromTradePileAsync had 2 signatures:

`public interface IFutClient`
`...`
`Task RemoveFromWatchlistAsync(AuctionInfo auctionInfo);`
`Task RemoveFromWatchlistAsync(IEnumerable<AuctionInfo> auctionInfo);`
`...`

About this issue u could forget it...
The probl

[2016-04-07 17:20] #256 closed

[2016-04-07 21:35] #247 closed

[2016-04-07 21:37] A-VORONKIN commented on #255
It would be greate if toolkit will tell error when Unable to login (like maintenance or logged in consle etc), not just this message)

[2016-04-08 13:50] bbday commented on #253
Maybe you didn't unlock the market, cause you use a new account.
Try to do same thing on web app if working.

[2016-04-11 20:55] A-VORONKIN commented on #244
When it will be merged as main branch?

[2016-04-11 21:32] tringler commented on #244
As soon as we have we enough positive test feedbacks - Feel free to test it and give feedback ;)

[2016-04-13 11:18] innerspox opened #257 "Login WaitingForActivation"
After successful login I always get the "WaitingForActivation" status code when requesting the tradepile. But the account (ps4) is activated, I can use the transfermarket within the real webapp, also when playing on the ps4 console. This error only occures when using the toolkit. I tested last stable version 2.2.0 and also latest rc3.

[2016-04-14 16:54] samoyan opened #258 "How to install (use) FIFA-Ultimate-Team-Toolkit"
I installed Visual Studio in order to import "FIFA-Ultimate-Team-Toolkit" package from Nuget.

Can you tell me please how I can compile it or create an .exe file from it?

[2016-04-14 21:49] trydis commented on #258
It's already compiled in the NuGet package. Since it's a (portable) class library it can't be used on its own. You'll have to create an app which contains all the logic, references this library and calls the toolkit methods.

[2016-04-14 21:53] trydis commented on #257
Related to https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/issues/137#issuecomment-156069382?

[2016-04-15 02:07] samoyan commented on #258
Thank you for your response...

[2016-04-15 02:07] #258 closed

[2016-04-15 07:08] innerspox commented on #257
No, the account already has access to transfer market (played long enough). I used transfermarket several times within the real webapp.

[2016-04-16 11:45] trydis commented on #244
Relased

[2016-04-16 11:45] #244 closed

[2016-04-17 12:33] tringler commented on #147
@trydis : Please close as the feature is in master branch now.

[2016-04-17 13:35] tringler commented on #246
Implemented with https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/259

[2016-04-17 13:35] #246 closed

[2016-04-17 13:36] tringler commented on #253
@maksoy2099  Pls close if your question is answered.

[2016-04-17 13:38] tringler commented on #255
@Extremeg Pls close the issue as it's not a bug and your question seems to be answered.

[2016-04-17 16:17] #147 closed

[2016-04-17 17:53] tringler commented on #257
Are you pretty sure you are working with the right persona ID? Maybe you have multiple personas like for PS4 and PC and working accidently with your PC account, which you never activated.

[2016-04-17 18:42] innerspox commented on #257
Yes I have only 1 account for testing and this account is for PS4. I can't find the problem. I also created a minimal testprogramm and assigned the current package via nuget (3.0.0). Login is successfull, I get the right account data (name, team, coins and so on). But every following request (e.g. tradepile or card search) result in the "WaitingForActivation" status code. But I can use (and did ma

[2016-04-17 18:44] mtdx commented on #257
New accounts are locked from the transfer market? can you buy/sell cards via the browser? just post here a screenshot with the fiddler requests.

[2016-04-17 21:29] tringler commented on #257
Could you post the "WaitingForActivation" response?

[2016-04-17 22:27] tringler commented on #201
Implemented in https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/260

[2016-04-19 12:50] tringler commented on #249
The implementation is basically done, but I need to wait until https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/260 is merged to master, because I'm running into conflicts as long as PinRequests not implemented. OpenPacks are also using PinRequests.

[2016-04-19 15:38] tringler commented on #249
Implemented in my fork https://github.com/tringler/FIFA-Ultimate-Team-Toolkit/commit/01ed55d6d3a311a54d993781f32454d0dcf32560 - As soon as PinRequests are applied to the toolkit I will add the missing PinRequests in a seperate commit. Then I can create a PR.

[2016-04-19 18:34] tringler commented on #254
Implemented a better handling of these Ids in https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/261 - It will automatically convert ResourceId to AssetId and vice versa - Just insert a ResourceId OR AssetId and it will work

[2016-04-19 19:23] #255 closed

[2016-04-21 12:21] tringler commented on #249
@Extremeg Pls close this issue, because it's implemented in my pull request. You can test it and give feedback in the PR thread.

[2016-04-21 12:22] tringler commented on #201
@trydis  Pls close this issue, because it's implemented in my pull request. Feedback should be made directly in PR thread.

[2016-04-21 12:23] tringler commented on #253
@trydis Pls close this issue, because no feedback since over 2 weeks.

[2016-04-21 12:24] tringler commented on #254
@stefanoIT Pls close the issue and give me feedback in my PR thread as this issue should solved now.

[2016-04-21 21:16] #253 closed

[2016-04-21 21:17] #201 closed

[2016-04-21 21:17] #249 closed

[2016-04-24 12:33] Extremeg commented on #211
@kauefelipe
Do you can send me the mail too pls?

peter.nather@aol.com

[2016-04-24 21:09] Extremeg opened #264 "Search Players"
Hi, guys i have a Problem to search for players.
I have downloadet the newest Files from this repository and have compile it.

For testing ive changed the SearchAsync to get the Status of the response.
My Method to search players looks so:

public async Task<AuctionResponse> searchPlayer() {
            Console.WriteLine("Searchplayer");
            var d = new PlayerSearchParameters {

[2016-04-25 01:58] elephs commented on #264
replace this:
var s = Client.SearchAsync(d).Status;
with
var s = await Client.SearchAsync(d);

[2016-04-25 07:33] Extremeg commented on #264
i know i had put it there only for test purpose to get the Status of the response. Normaly i have it so how you mean it @elephs

[2016-04-25 11:49] kauefelipe commented on #211
@Extremeg: Sent to your mail...

[2016-04-25 12:35] A-VORONKIN opened #266 "HttpRequestException using CompanionApp"
I had HttpRequestException (Message: Response status code does not indicate success.) very often when I'm using CompanionApp. I was thinking that PinRequests wiil helps but it didn`t helps.

https://gyazo.com/78a528afad81c18418dd58d9bea1f175

After first launch I hade 2-3 exceptions during 20 mins but after 4 hours of work I had it everytime.
I`m using 6 seconds between requests.

[2016-04-25 12:37] #266 closed

[2016-04-25 12:38] A-VORONKIN opened #267 "HttpRequestException using CompanionApp"
I had HttpRequestException (Message: Response status code does not indicate success.) very often when I'm using CompanionApp.
https://gyazo.com/78a528afad81c18418dd58d9bea1f175

After first launch I hade 2-3 exceptions during 20 mins but after 4 hours of work I had it everytime.
I`m using 6 seconds between requests. Maybe its something like temp ban?

[2016-04-25 14:43] tringler commented on #267
I'm pretty sure it's a expired Session. Try to send requests only each 5 seconds.

[2016-04-25 14:46] A-VORONKIN commented on #267
I`m sending requests each 6 seconds now.

[2016-04-25 14:46] tringler commented on #257
@innerspox Please close the issue if its solved or you not interested anymore to solve it. We cannot help you without your requests/responses, because we cannot repoduce it.

[2016-04-25 14:47] tringler commented on #254
@trydis Can you pls close, because no answer a week and in addition to that it should solved with PR https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/261

[2016-04-25 14:49] tringler commented on #267
Ok - Can you see how many requests and pin requests you made? I'm also aware of that problem, but it seems to be sometimes there and sometimes not. We need to analyze when it happens. I don't have an idea so far.

[2016-04-25 14:55] A-VORONKIN commented on #267
2000+ requests. Sometimes I realy had message: Response status code does not indicate success:401 (Unauthorized). So ExpiredsessionException not working for CompanionApp? But it 90% I had another code and it is not an expired session.

[2016-04-25 14:57] tringler commented on #267
The whole exceptionhandling is not working in the companion app I guess, because they have other error codes. We need to collect all companion app error codes and map them.

Yes, but I think you got these codes, because you are unauthorized, because your session is expired. They kick you out from your session for any reasons.

[2016-04-25 15:04] A-VORONKIN commented on #267
I think you are right. Maybe when I just start bot I had some exceptions like PermissionDenied and thats why bot was still working for some time. But afte that I get ExpiredSession and then I'm getting so many exceptions.

[2016-04-25 15:06] mtdx commented on #267
I can confirm that 401 code is "session expired" but the codes in the screenshot are very strange, try to  login again to see what's happening.

[2016-04-25 15:20] A-VORONKIN commented on #267
After relogin everything is working and no exceptions yet.

[2016-04-25 17:17] tringler commented on #267
Yes, as I said I think all these errors caused because your session expired and the requests are dropped with your invalid session id.

[2016-04-25 17:20] tringler commented on #264
Here you are my test script I normally use if I test new features:

[code]

[2016-04-25 18:14] A-VORONKIN commented on #267
So why it didn`t throw ExpiredSessinException if it has same code 401 as WebApp?

[2016-04-25 18:21] tringler commented on #267
Ask EA :-P

Just two different implementations of their internal API I assume.

[2016-04-25 20:28] #257 closed

[2016-04-25 20:47] Extremeg commented on #264
var storeResponse = await futClient.GetPackDetailsAsync();

            uint packId = 0;

            foreach (Pack packDetail in storeResponse.Purchase)
            {
                if (packDetail.Coins == 7500)
                {
                    packId = packDetail.Id;
                }
            }

            //Buy Pack
            var buyPackResponse = await futClient.BuyPackAsync(new P

[2016-04-25 21:15] #254 closed

[2016-04-26 21:58] a7medit opened #268 "cannot login to CompanionApp"
can not login to Fut using CompanionApp always get this exception.
Could not find member 'expiresOn' on object of type 'Auth'. Path 'expiresOn', line 1, position 66.

[2016-04-27 13:16] mtdx opened #269 "Mobile Client Version"
@tringler Can you please create a pull request to change client version to 20?

Also what's with the pull requests pilling up? I see 2 failed the checks.

[2016-04-27 13:26] tringler commented on #269
Pls explain more detailed - I think you need to ask @trydis about the failed checks.

[2016-04-27 13:30] mtdx commented on #269
Well please try to login via companion app, you will see is not working, you need to change ""clientVersion"":18 to ""clientVersion"":20 lines 123 and 164 in LoginMobileRequest.cs

[2016-04-27 13:32] tringler commented on #268
Pls try https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/270/commits/1910db0e6b44529f3c02ada3e1265e24f7c8e5eb

[2016-04-27 13:39] #269 closed

[2016-04-27 15:57] StefanoSummo opened #272 "How do I use this?"
Hi, can anyone please tell me what programs I need to run the toolkit and get it working?

[2016-04-27 19:34] tringler commented on #272
Basically VisualStudio - Please just read the Readme.md how to use it.

[2016-04-27 19:41] StefanoSummo commented on #272
I've installed the package and I understand how it should be used from reading the read me. Just I don't know where to put values or link my account.

[2016-04-27 20:00] tringler commented on #272
You can try my test script:
[code]

[2016-04-27 20:01] tringler commented on #264
This is requested in https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/262 - Only @trydis is able to merge anything on this repo.

[2016-04-27 20:10] trydis commented on #269
@tringler: I started using AppVeyor in this project, so it will build the project + run any tests it detects for every pull request and commits pushed to this repo. If either fails it reports the build as failed.

[2016-04-28 07:57] #268 closed

[2016-04-28 08:36] tringler commented on #272
@StefanoSummo Pls close this issue. This is not really an issue of that repo.

[2016-04-28 09:14] tringler commented on #264
@Extremeg Can you please close this issue, because it's not really an issue in the toolkit.

[2016-04-28 20:36] tringler opened #274 "License"
@trydis I think on the readme is missing the license - I assume it's MIT licensing as the most project on GitHub?

[2016-04-29 11:45] tringler commented on #274
Just in case there are other poeple out there blind like me have a look to the LICENSE file in the root folder.

[code]

[2016-04-29 11:45] #274 closed

[2016-04-29 13:55] benbartels commented on #211
Hi can you please sent me this json too?
i do a test php project for my eleven years old son.
Thank you very much
sent it to benbartels@googlemail.com

[2016-04-29 15:00] #264 closed

[2016-04-30 10:35] A-VORONKIN commented on #267
Its unreal to use companion app now. I have this exceptions with strange codes after 20-30 mins of working.

[2016-04-30 10:38] tringler commented on #267
Do you use pin requests?

[2016-04-30 11:45] tringler commented on #267
We should analyse the original CompanionApp traffic - Maybe we miss a keep-alive or stuff like that.

[2016-04-30 18:51] A-VORONKIN commented on #267
@tringler yes

[2016-05-01 19:04] tringler commented on #272
@trydis Can you pls close this issue? - It's not really a toolkit issue.

[2016-05-01 20:42] tringler commented on #267
It looks like they do a new authentication after a few minutes - I just opened the app on my Android image and did nothing:

![unbenannt](https://cloud.githubusercontent.com/assets/4985268/14944257/f73df158-0fed-11e6-87e1-34fdb00cb6c8.PNG)

[2016-05-01 21:32] tringler commented on #267
@A-VORONKIN Can you verify this only happens while connected to CompanionApp or do you get sometimes also some ExpiredSessions from the WebApp?

[2016-05-01 22:48] A-VORONKIN commented on #267
@tringler only when I`m using CompanionApp

[2016-05-02 08:14] #272 closed

[2016-05-02 12:50] kauefelipe commented on #211
@benbartels : Sent...

[2016-05-02 15:42] a7medit commented on #211
@kauefelipe

may i get this json too?

a7medit@hotmail.com

[2016-05-02 20:32] tringler commented on #267
@A-VORONKIN Give it a try - https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/275

[2016-05-03 17:43] A-VORONKIN commented on #267
@tringler do I need manualy call client.GetSettingsAsync()?

[2016-05-03 18:47] tringler commented on #267
yes

[2016-05-07 19:34] stefanoIT commented on #254
@tringler apologies for not answering before. thanks for your contribution

[2016-05-15 01:35] crephix opened #276 "Invalid Cookies cause strange error"
@trydis When the cookie is not valid anymore (e.g. password has changed or cookie is expired) there is just a strange error/exception and no real error message, can you fix that please?

This is what I get: http://img03.imgland.net/EHRfamm.png and that isn't really useful at all.

[2016-05-15 13:41] A-VORONKIN commented on #276
Sometimes I can`t login with old cookies but no exceptions just "Unable to login". Then I need to delete cookies and create new and everything works fine.

[2016-05-15 13:58] bodhi85 opened #277 "Searching Transfer Market for Club Items"
Apologies if this has been covered before, but couldn't find anything on it in closed Issues.

Is it possible to search the Transfer Market for Club Items? Stadia, badges etc?

[2016-05-15 19:22] asdfgasdfsafgsdfa commented on #276
same thing here.
can we get a correct exception for that please? :(

[2016-05-27 09:20] a7medit opened #278 "can not log in using companion app any more"
always got {"Response status code does not indicate success: 400 (Bad Request)."} exception

[2016-05-27 14:13] maksoy2099 opened #279 "Not an Issue but maybe a request"
Is it possible to add points to your Fut 16 account??

[2016-06-12 03:48] mfsdcool opened #281 "Search by Stadium resource/asset Ids"
In native web app / companion app, I can only search specific stadium by firstly generally search by Level. Then once the result contains the Stadium I wanted, and click 'Compare Price' so it will appear the stadium's list.

I wonder if I could do the same in Fut Toolkit as I tried to input resourceid (negative number) or assetid (small number within 3 digits) in StadiumSearchParameters I cannot g

[2016-07-12 18:24] drawalex opened #282 "Search for Player Returns 0"
`var searchParameters = new PlayerSearchParameters
            {
                //ResourceId = 188567
                Page = 1,
                Level = Level.Silver,
                MaxBuy = 10000,
                MinBid = 200
            };

            var searchResponse = await futClient.SearchAsync(searchParameters);
            Console.WriteLine(string.Format("Found {0} auctions", searchResp

[2016-07-26 13:38] Extremeg opened #283 "Fifa 17 Update"
Hi guys,
my question is if and when the update for fifa 17 will come?

[2016-07-27 11:55] bbday commented on #283
Try to check EA web site, they will release fifa 17 end of settember and on first week of sett they will open new webapp

[2016-08-06 10:40] edmolko commented on #282
I'm having the same issue as well, I'm not getting any results even with no filters applied...

[2016-08-23 02:43] CoverJ opened #284 "Help putting autobuyer logic behind a web api?"
Hi Guys,

To learn Angular 2 I thought I'd try to do a project making an autobuyer. I've made a fairly basic autobuyer before in windows forms so I'm not asking for help with the autobuyer logic.

I just want to talk about how to connect an Angular 2 front end to this logic, even if that logic is just @tringler 's test script in #272.

My thoughts were to create a web api project and call it throu

[2016-08-23 07:56] DjTrilogic commented on #284
Hey John,

I had the same idea for my FIFA 2017’s autobuyer, but due to lack of time, I still didn’t start the project (I know what to do though).

I think that if we work together, we can make a good WebApi (decoupled from the logic, so that implementation can change)

Waiting for your response

De : John Cover [mailto:notifications@github.com]
Envoyé : Tuesday, August 23, 2016 4:43 AM
À : trydis

[2016-08-23 07:58] CoverJ commented on #284
Yeah for sure I'm in!

[2016-08-23 07:59] DjTrilogic commented on #284
Add me on skype: trilogicabdess

We can talk tonight to make a small action plan :p

De : John Cover [mailto:notifications@github.com]
Envoyé : Tuesday, August 23, 2016 9:58 AM
À : trydis/FIFA-Ultimate-Team-Toolkit <FIFA-Ultimate-Team-Toolkit@noreply.github.com>
Cc : Abdessamad Benslimane <abdessamad.benslimane@gmail.com>; Comment <comment@noreply.github.com>
Objet : Re: [trydis/FIFA-Ultimate-Team

[2016-08-23 08:05] CoverJ commented on #284
added

[2016-08-23 08:06] CoverJ commented on #284
If anyone else is interested and will be active I'm guessing @DjTrilogic and myself would be happy to have you, so get in touch.

I'll close this in a few days to give people a chance to see it, if that's not acceptable feel free to close it @trydis

[2016-08-23 15:05] dalso182 commented on #284
Hey guys I can help with some UI in case you need help on
that(HTML/CSS/JS), I'm not that familiar with Angular2, but maybe I can
help with the part of binding the data with the UI.
Regards

On Tue, Aug 23, 2016 at 2:06 AM, John Cover <notifications@github.com>
wrote:

--
Diego Alvarez Solano
Senior Web Developer
PHP/MySQL/HTML/CSS/JavaScript/XML
TEL: 8829 3412

[2016-08-24 13:40] trydis commented on #284
No problem @CoverJ, go for it.

[SignalR](http://www.asp.net/signalr) might be an option for the backend as well, allows bi-directional communication.

[2016-08-24 14:28] DjTrilogic commented on #284
Hey @trydis,

Can I add you on skype please ?

I also thought of SignalR and I may need some more advices from you

De : Morten Trydal [mailto:notifications@github.com]
Envoyé : Wednesday, August 24, 2016 3:40 PM
À : trydis/FIFA-Ultimate-Team-Toolkit <FIFA-Ultimate-Team-Toolkit@noreply.github.com>
Cc : Abdessamad Benslimane <abdessamad.benslimane@gmail.com>; Mention <mention@noreply.github.com>
Ob

[2016-08-26 21:03] trydis commented on #284
Send me an e-mail, I rarely use Skype.

[2016-09-01 02:30] CoverJ commented on #284
gona close this, anyone in who views this in the future feel free to contact me :)

[2016-09-01 02:30] #284 closed

[2016-09-14 09:31] DjTrilogic commented on #283
Are you guys ready to debug the new API as soon as it's out ?

[2016-09-16 09:26] ulrickpsp commented on #283
Looking forward to debug the new API!

[2016-09-20 18:52] eupantof commented on #283
It's up! let's go :dancers:

[2016-09-20 19:07] ulrickpsp commented on #283
Do you already have access? I don't have fifa 17 yet

[2016-09-20 19:09] proeben commented on #283
you need accounts that have been created before feb16 and been played on after feb16

[2016-09-20 19:23] kauefelipe commented on #283
I played yesterday and have played FUT since that was released (2010 or 11, don´t remember) and i have access to.

One guy report in ea forum that one friend of him had started to play in this may and have access... it´s totaly random i hope...

[2016-09-20 19:59] bbday commented on #283
Yes it is a bug, a lot of people can't login have error about it.

[2016-09-20 20:07] ulrickpsp commented on #283
Yes, I think so as well. I played 5 days ago and can't login. Bugs appeared early in FUT17..

[2016-09-20 20:22] proeben commented on #283
No bug. This is the system. Accounts being created before feb16 and played afterwards (not only 5 days ago).

To what extent and what the parameters are (how many games etc) I dont know. But from 15 accounts I tried I can confirm the pattern

[2016-09-20 20:30] ulrickpsp commented on #283
Account created in 2010. More than 600 games. Last one 5 days ago. Can't enter webapp.

[2016-09-20 20:43] DjTrilogic commented on #283
Same here

[2016-09-20 20:44] DjTrilogic commented on #283
I heard that's working in USA, have anyone tried a proxy ?

[2016-09-21 09:49] ulrickpsp commented on #283
Working for me today!

[2016-09-21 09:50] eupantof commented on #283
For me as well, but transfer market is disabled atm :(

[2016-09-21 09:51] ulrickpsp commented on #283
I'm trying to update login for FUT17

[2016-09-21 15:08] Bogenschuetze commented on #283
@ulrickpsp Wait a few hours, your account should be TM enabled soon. Had to wait on my account, too

[2016-09-21 18:13] gladtbx commented on #283
Webapp transfer market online for me.

[2016-09-21 18:18] ulrickpsp commented on #283
Working fine here as well.

[2016-09-21 21:32] drawalex commented on #283
The webapp is working now after i had the issue saying i needed to play fifa 17.

[2016-09-22 00:52] gladtbx commented on #283
I kind of made it work.
Still testing, can search now. Not tried bin or bid.
Change the Requests/LoginRequest.cd, swap all 16 with 17.
Change Constants/Resources.cs, swap all 16 with 17.( Maybe not necessary, I did it anyway.)
Add a couple items to Models/ItemData.cs
The list is not full, I added:
        public long cardassetid { get; set; }

        public long value { get; set; }

        publi

[2016-09-22 06:59] ulrickpsp commented on #283
Got some issues with SearchAsync. I'll investigate it..

[2016-09-22 07:21] bbday commented on #283
did you try to look into CalculateBaseId don't return right assedId

[2016-09-22 07:36] ulrickpsp commented on #283
Added what gladtbx mentioned and added some fields in itemData:

        public int weightrare { get; set; }

        public int bronze { get; set; }

        public int silver { get; set; }

        public int gold { get; set; }

[2016-09-22 07:47] trydis commented on #283
It would be awesome if someone would send a pull request once most of the stuff is working. Then i can start pushing NuGet prerelease packages.

[2016-09-22 07:48] ulrickpsp commented on #283
Sure, I'll try to adapt everything to FUT17 and then send pull request.

[2016-09-22 09:37] bbday commented on #283
CalculateBaseId not working, if you get ResourceId from tradepile/watchlist it is a negative number (it is usefull to find right player cause some player have multiple version)
Example Cavani: (there is 2 version base and if)
assetId=179813 (both)
id=50511461 (if) according with EA db
Id=179813 (base) according with EA db
they have 2 differents resourceId
resourceId=-1828536731  (if) 50511461
reso

[2016-09-22 10:19] ulrickpsp commented on #283
Any chance to get players.json as for FIFA16? Basically it's a list with the asset IDs

[2016-09-22 11:47] Bogenschuetze commented on #283
@ulrickpsp do you mean this one?
https://fifa17.content.easports.com/fifa/fltOnlineAssets/CC8267B6-0817-4842-BB6A-A20F88B05418/2017/fut/items/web/players.json

[2016-09-22 12:30] ulrickpsp commented on #283
Yeah @Bogenschuetze , finally i also got it. I think it's quite useful .Thanks mate.

[2016-09-22 13:16] DjTrilogic commented on #283
does anyone have a working toolkit ? :D

[2016-09-22 15:59] artielange commented on #283
Hi all, I used trydis' toolkit for, 13, 14, 15 and stopped cause of the bugged accounts issue (and also 1st child issue :) )

I'm wondering if you guys still had issues with accounts becoming unusable after awhile? What about rate limiting?
Thanks

[2016-09-23 00:17] mfsdcool commented on #283
After adopt the above I am still stuck in two phase password..

the iframe/fut17/p/ut/auth  returns me the following :

{"debug":"","string":"","code":"403","reason":""}

And I am stuck with in the following LoginRequest.cs code.

            var sessionId = Regex.Match(await authResponseMessage.Content.ReadAsStringAsync(), "\"sid\":\"\\S+\"")
                .Value
                .Split(new[] {

[2016-09-23 04:55] ulrickpsp commented on #283
@Mfsdcool, check this carefully:

Change the Requests/LoginRequest.cd, swap all 16 with 17.
Change Constants/Resources.cs, swap all 16 with 17.( Maybe not necessary, I did it anyway.)

[2016-09-23 13:53] Levesque7 commented on #283
@bbday Last year you needed to add a constant to the ResourceID. The constant last year was 4026531840

[2016-09-23 13:58] Levesque7 commented on #283
@artielange I used the same two accounts all year last year, but the rate limiting was still in effect. I think we discovered that an account was limited to somewhere ~4000-5000 requests per day.

[2016-09-23 14:16] bigdt21 opened #285 "FIFA 17 database of players"
I am looking to create a database of FIFA 17 players and their information (nation, club, league, etc.) and stats (pace, long passing, etc.).  I've found the below API URL which returns all the relevant information, but only one page at a time (out of 600+ pages)

https://www.easports.com/fifa/ultimate-team/api/fut/item?page=1

Anyone have a better URL to use or way to modify this one to dump the

[2016-09-23 14:18] Bradders591 commented on #285
Could you not just scrape it one page at a time?

[2016-09-23 14:23] Bradders591 commented on #285
Also, that is the same link that is used for Fifa 16, is it definitely updated?

[2016-09-23 14:47] artielange commented on #285
A kind gentleman by the name of @Bogenschuetze posted the link to the players.json which is a great starting point

https://fifa17.content.easports.com/fifa/fltOnlineAssets/CC8267B6-0817-4842-BB6A-A20F88B05418/2017/fut/items/web/players.json

[2016-09-23 14:52] artielange commented on #283
@Levesque7 Thanks for the information. 4000-5000 requests per day... so about 2-3 per minute. This constraint makes things quite interesting.

I've got a lot of catching up to do. I'm using the authenticator app with my accounts, first hurdle to tackle

[2016-09-23 15:30] bigdt21 commented on #285
@Bradders591 thanks for the replies.  It seems to be updated as it has Ronaldo, Messi, and Neymar's base cards at 94, 93, and 92.  It also refers to their pictures using a 17 URL.  Example for Neymar

https://fifa17.content.easports.com/fifa/fltOnlineAssets/CC8267B6-0817-4842-BB6A-A20F88B05418/2017/fut/items/images/players/html5/120x120/190871.png

As for scraping it one page at a time, my underst

[2016-09-23 15:36] mfsdcool commented on #283
@ulrickps thanks a lot. I have added some stupid typo during replace action before. I can connect now.

[2016-09-23 15:36] artielange commented on #285
Ah, I remember seeing a nice table floating around with the base attributes...

There are sites like Futhead or FutWiz that have already done a lot of work collecting player stats, You could scrape from them (scraping is quite easy compared to what's implemented in this toolkit, don't be intimidated).

[2016-09-23 15:45] Bradders591 commented on #285
I've got a scrape of that URL you sent now, all the pages. I'll see if i can upload it. At work at the moment

[2016-09-23 16:32] mfsdcool commented on #285
Do anyone know the link for items / consumables?

[2016-09-23 16:41] Bogenschuetze commented on #285
I know you can search for playernames in the api like that: (just replace ronaldo)
http://www.easports.com/fifa/ultimate-team/api/fut/item?jsonParamObject=%7B%22name%22:%22ronaldo%22%7D

[2016-09-24 16:47] bigdt21 commented on #285
@Bradders591 that would be awesome if you could upload your scrape

@Bogenschuetze Thanks.  That is really useful.

[2016-09-25 12:21] Bogenschuetze commented on #283
Anyone fixed the Mobile Login? seems to be broken for me.

[2016-09-25 18:17] drawalex commented on #283
How is the update going guys?

[2016-09-25 18:30] mtdx commented on #283
Mobile login seems to be totally changed, won't be just replacing fifa16 with fifa17, web app seems to be the same, small changes.

[2016-09-26 14:01] ricklhp7 commented on #283
Probably because the client version changed for mobile. I didn`t debbug it yet, but try 21.

[2016-09-26 14:21] artielange commented on #283
The app feels very similar to last year, I'd be surprised if a lot was changed under the hood

[2016-09-26 15:02] proeben commented on #283
Just a hint: no need for x-ut-pow anymore

Von meinem iPhone gesendet

[2016-09-26 16:09] artielange commented on #283
Hi @trydis didn't you set up a chat room awhile ago to avoid your git being polluted? We could use it to discuss these issues

[2016-09-26 21:20] trydis commented on #283
Yup, link is in the readme and it's https://gitter.im/trydis/FIFA-Ultimate-Team-Toolkit

[2016-09-26 22:56] mtdx commented on #283
Anyway has any idea which is the resource Id constant this year?

[2016-09-27 02:37] solorinka commented on #283
1879048192

[2016-09-27 12:47] mtdx commented on #283
@solorinka what do you mean, there is nothing in auctioninfo on it

[2016-09-27 15:56] Levesque7 commented on #283
Anyone know how many games you need to play with an account to unlock the transfer market in the app?

[2016-09-27 15:56] drawalex commented on #283
20 games @Levesque7

[2016-09-27 16:05] artielange commented on #283
Was this 20 game requirement introduced with fifa 15? I don't remember it

[2016-09-27 16:24] solorinka commented on #283
@drawalex  please dont answer if you dont know :)
in general 4-6 games was enough if you played whole season 7-10games it was 100%  unlocked after 48h.

@mtdx  if you didnt saw ever auctioninfo itemdata, how could you prog a running bot ?

[2016-09-27 16:59] mtdx commented on #283
@solorinka what do you mean, subtract the resource id from item data and get the difference?

Also CalculateBaseId doesn't seem to be used at all, is used if the resource id is smaller than 16777216 but any math is applied is if bigger than 16777216 who wrote that was drunk or so.

[2016-09-29 13:06] pradella commented on #283
Hi guys, returning here from a long time.
Does anyone have a code ready to commit with this new features of FUT17?
I read that some of you make your own adjustments to connect on FUT17.

[2016-09-29 15:35] Dinduks commented on #283
Same question as @pradella.
How can we help to get this lib working with FIFA 17 asap?

[2016-09-29 15:51] cawk commented on #283
Like they said above just change fut16 to fut17 for a quick fix not sure if everything works but going on what is said above it should do

[2016-09-29 20:10] drawalex commented on #283
@cawk I can confirm by using the 'Quick' fixes that you can search, bid, list on the auction

[2016-09-29 20:16] Majed93 commented on #283
I can't seem to login? Getting an indexoutofbounds exception in LoginRequest.cs

`  var sessionId = Regex.Match(await authResponseMessage.Content.ReadAsStringAsync(), "\"sid\":\"\\S+\"")
                .Value
                .Split(new[] { ':' })[1]
                .Replace("\"", string.Empty);`

method `GetSessionIdAsync`

[2016-09-29 20:49] solorinka commented on #283
look on webapp whats diffrent ? guess you try to login a fifa16 account which have no club..
sometimes its faster a short webapp fiddler research to do than to ask this kind of "easy" things here

toolkit hasnt the request of club creating

[2016-09-30 06:53] ValResnick commented on #283
I am really sorry for the dumb question, but is it possible that EA locks my account, when I implement a service which buys/sells things every hour?

[2016-09-30 07:28] DjTrilogic commented on #283
The service is called: Bot, and probably this API is implemented as so by 99% of its users

And since TOS of Fifa is prohibiting botting, the risk of ban is present.

However it highly depends on how your “service” acts like human to prevent the ban.

De : ValResnick [mailto:notifications@github.com]
Envoyé : Friday, September 30, 2016 8:54 AM
À : trydis/FIFA-Ultimate-Team-Toolkit <FIFA-Ultimate-T

[2016-10-01 15:32] pradella commented on #283
To avoid be blocked or banned, i use a secondary account, just for trading with this toolkit. Perhaps this year EA detect accounts not used in game. I played just 1 offline game and did list some bronze players. But when I log into webapp, and click in Transfer Market, this message appears:

"Continue playing FUT 17 on PlayStation4 to unlock access to the Transfer Market"

Anyone experienced this?

[2016-10-01 15:54] ulrickpsp opened #286 "Internal server error strategy"
Hi mates. I came across Internal server error after 4 days of botting. I'm wondering which strategy do you follow when you suffer from this error. Mobile app seems to work fine. Would it be enough to switch to mobile login and then run the bot again?

[2016-10-01 17:28] Levesque7 commented on #283
This has been the case for 3 years now. You need to play games with the account.

-------- Original message --------
From: pradella <notifications@github.com>
Date: 2016-10-01 11:32 AM (GMT-05:00)
To: trydis/FIFA-Ultimate-Team-Toolkit <FIFA-Ultimate-Team-Toolkit@noreply.github.com>
Cc: Levesque7 <eric_levesque@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [trydis/FIFA-Ultimate-Te

[2016-10-01 17:41] cawk commented on #283
one thing i have noticed is that players in tradepile names are null all name/first/last name are all null
dont know if this was same in fifa 16 but is defiantly the case right now

[2016-10-01 17:44] Levesque7 commented on #283
Names have always been null

-------- Original message --------
From: cawk <notifications@github.com>
Date: 2016-10-01 1:41 PM (GMT-05:00)
To: trydis/FIFA-Ultimate-Team-Toolkit <FIFA-Ultimate-Team-Toolkit@noreply.github.com>
Cc: Levesque7 <eric_levesque@hotmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [trydis/FIFA-Ultimate-Team-Toolkit] Fifa 17 Update (#283)

one thing i have notice

[2016-10-02 04:50] mfsdcool commented on #286
I can't login mobile app using toolkit since 16. So I cannot switch.

It happens to me when bid too much in short period of time. And I will wait for few hours or somewhat I play the games on PS4 it will resumed normal.

[2016-10-02 04:53] mfsdcool commented on #283
@cawk Yes in 16 you need to use GetItemAsync method to get names for players for auction related stuff. In 17 the GetItemAsync seem not working, maybe due to resourcesId calculate difference. I will wait for the toolkit updates

[2016-10-02 04:54] mfsdcool commented on #283
@pradella
In FIFA17 I was asked to enter a Captcha like stuff on PS4 before I could proceed.

[2016-10-02 05:05] gladtbx commented on #283
error encountered:
Unexpected character encountered while parsing value: {. Path 'auctionInfo[6].itemData.trainingItem'

[2016-10-02 09:42] ulrickpsp commented on #286
Ok, thanks. I will try to adapt mobile login for FUT17. Any chance for using fiddler with Android?

[2016-10-02 11:19] mfsdcool commented on #286
![android app1](https://cloud.githubusercontent.com/assets/19850239/19020207/a11041b8-88d4-11e6-918b-1ad519054e5f.png)

Yes I tried it just now. Upper part is Android (success login) and lower part is Toolkit which is failed

I checked and the following are difference which I am not sure which one cause the login failure:
- Machine Key ID
- Cookies using
- Android will issue a GET request (line 37

[2016-10-02 11:22] ulrickpsp commented on #286
Thanks. I'll check it later.

[2016-10-02 11:44] mfsdcool commented on #283
Short term solution, you just need to add the following into ItemData.cs

public string trainingItem { get; set; }

If you are unlucky enough that someone applied an training item then put on transfer market you will get error again.

So long term solution you need to create a new trainingitem class (e.g. TrainingItem1.cs) which have contents same as ItemData.cs

then add the following in ItemData

[2016-10-02 12:53] artielange commented on #283
If you need player name so badly just look it up in a local table instead of making additional requests to ea

[2016-10-02 12:55] artielange commented on #286
Which requests return internal server error? All?

I remember this happening in the past actually

[2016-10-02 12:57] ulrickpsp commented on #286
Only the ones related with transfer market.

[2016-10-02 13:09] mfsdcool commented on #286
For me it will have internal error when place bid after I have bid war with others

[2016-10-02 21:50] drawalex opened #287 "Unknown Error (494)"
I have the tool working with one account and i have just logged in and received the following error.
Unknown EA error, please report on GitHub - Code: 494

[2016-10-03 04:58] jvianafec commented on #283
someone managed to implement the toolkit work for 17?

[2016-10-03 09:24] ulrickpsp commented on #286
Im now working on it. I'm stuck trying to get fid. Any idea about getting this in C#?

Response does not show that header (or I can't find it)

![captura](https://cloud.githubusercontent.com/assets/8997800/19032751/e6bd37fc-895b-11e6-881f-1e0990aebf83.PNG)

[2016-10-03 14:20] ulrickpsp commented on #286
Original cookies look like this

![image](https://cloud.githubusercontent.com/assets/8997800/19040635/37cc8c14-8985-11e6-95f2-389aafdb98d9.png)
![image](https://cloud.githubusercontent.com/assets/8997800/19040649/487b32cc-8985-11e6-9fc8-87cd509f79bd.png)

And mine look like this:

![image](https://cloud.githubusercontent.com/assets/8997800/19040604/157f5e5c-8985-11e6-8553-53566950cb9f.png)
![image

[2016-10-03 17:27] mfsdcool commented on #286
I have the same cookies pattern with u for mobile app and toolkit
And same results with u too (toolkit failed)

[2016-10-04 10:17] ulrickpsp commented on #286
I've been able to reach the two factor code screen. I receive the code in my email but i'm having trouble posting it to EA.

![image](https://cloud.githubusercontent.com/assets/8997800/19070633/879acbb4-8a2c-11e6-8eb4-a9da98a64f0e.png)

[2016-10-04 19:21] CesarAdmin commented on #283
I have updated the resources file, no i can login but i cant use the other methods to get tradepile
` public string FutHome = "https://utas.external.fut.ea.com/ut/game/fifa17/";

        public const string FutHomeXbox = "https://utas.external.s3.fut.ea.com/ut/game/fifa17/";

        public const string ValidateXbox = "https://utas.external.s3.fut.ea.com/ut/game/fifa17/phishing/validate";

[2016-10-04 19:43] artielange commented on #283
What happens when you do use the other methods......

[2016-10-04 20:29] CesarAdmin commented on #283
Expired session

[2016-10-04 20:52] CesarAdmin commented on #283
Seems like we need to change the methods from Get to Post

[2016-10-05 10:53] mfsdcool commented on #286
Anyone success connect using toolkit connect MobileApp can share your successful story?

Thanks

[2016-10-05 11:00] mfsdcool commented on #283
@CesarAdmin I haven't changed the TradePileRequest class and still can use it. I have error expired session when I have the REAL WebApp / Mobile App logged in.

[2016-10-05 14:09] ulrickpsp commented on #286
Same state than the other day..no success.

[2016-10-05 14:19] artielange commented on #286
May i ask why mobile login is important? In previous years is was important because trading had been turned off on webapp...

[2016-10-05 14:59] ulrickpsp commented on #286
It's important when you get internal server error and can't use AB for some hours..

[2016-10-05 15:30] CesarAdmin commented on #283
Can you post your resources file @mfsdcool? are you logged with webapp or mobile app?

[2016-10-05 16:46] Majed93 commented on #287
Can you access the transfer market normally on the web app?

[2016-10-05 16:48] proeben commented on #287
494 means club is not tf mkt enabled

Von meinem iPhone gesendet

[2016-10-05 16:49] proeben commented on #286
It's important due to some other reason but the competitive ppl won't tell u

Von meinem iPhone gesendet

[2016-10-05 17:19] artielange commented on #286
Makes sense lol

[2016-10-05 17:58] ulrickpsp commented on #286
Would be nice to know that mysterious reason :)

[2016-10-05 18:01] CesarAdmin commented on #283
here the headers comparison from the real web app and my app using the toolkit.
![image](https://cloud.githubusercontent.com/assets/13179909/19125113/b4becef6-8aea-11e6-8979-b530c5d7e678.png)
can you tell me what's wrong? may be we need to add the cookies to the headers, but how? @trydis @mfsdcool @artielange @DjTrilogic

[2016-10-05 18:05] ulrickpsp commented on #283
I think your login is not successful

[2016-10-05 18:09] artielange commented on #286
Proeben is competitive lol

[2016-10-05 18:10] CesarAdmin commented on #283
@ulrickpsp i think my login is ok
![image](https://cloud.githubusercontent.com/assets/13179909/19125504/25981d70-8aec-11e6-9ba8-64d0729502ba.png)

tell me if you see any problem with this.

[2016-10-05 18:11] ulrickpsp commented on #283
The previous message is clear. Your session expires. Cause is difficult to find without seeing your code.

[2016-10-05 18:16] RicoBoone commented on #286
I think it was to do with the max requests per day. I tested this today, my account couldn't bid anymore because it reached the max requests mark but I still was able to bid on items using my mobile app manually . Haven't got the mobile login working myself too that's why I kinda want to figure it out.

[2016-10-05 18:17] ulrickpsp commented on #286
Same here..

[2016-10-05 18:25] artielange commented on #286
It could have only been that really.. But honestly.. It will only be a matter of time before ea pick up on that and limit the mobile app as well.

Ea have stepped up their game, they came a long way since 2014 lol

[2016-10-05 18:46] Guih-sistemas commented on #283
I change all resources from 16 to 17.
I have my account for more or less 2 years, and when a try login, one error happens when I try get the Nucleous Id

Regex.Match(nucleusResponseMessage.Result.RequestMessage.Content.ReadAsStringAsync().Result, "EASW_ID = '\\d+'")
                .Value
                .Split(new[] { " = " }, StringSplitOptions.RemoveEmptyEntries)[1]
                .Replace("'"

[2016-10-05 20:57] Majed93 commented on #283
I also had an issue with expired session. It seems to occur when the resources are like you mentioned @CesarAdmin

When i tried with the resources like the previous version with just '16' replaces with '17' it seems to work fine for me.

[2016-10-05 21:46] CesarAdmin commented on #283
thanks @Majed93 now seems to work.

[2016-10-05 21:50] Guih-sistemas commented on #283
can anyone help me ?

[2016-10-05 21:58] CesarAdmin commented on #283
@Guih-sistemas  just change the lines like says @gladtbx , seems like you speak spanish, add me on skype cesar.ehf

[2016-10-07 01:03] pradella commented on #283
@bbday did you find out about the negative number on resourceid (getting the tradepile)?
still cannot get the tradepile.

[2016-10-07 12:01] gladtbx commented on #285
Error Encountered:

Cannot deserialize the current JSON array (e.g. [1,2,3]) into type 'UltimateTeam.Toolkit.Models.StatsList' because the type requires a JSON object (e.g. {"name":"value"}) to deserialize correctly.
To fix this error either change the JSON to a JSON object (e.g. {"name":"value"}) or change the deserialized type to an array or a type that implements a collection interface (e.g. IC

[2016-10-07 12:02] gladtbx commented on #283
Error Encountered:

Cannot deserialize the current JSON array (e.g. [1,2,3]) into type 'UltimateTeam.Toolkit.Models.StatsList' because the type requires a JSON object (e.g. {"name":"value"}) to deserialize correctly.
To fix this error either change the JSON to a JSON object (e.g. {"name":"value"}) or change the deserialized type to an array or a type that implements a collection interface (e.g. IC

[2016-10-07 12:06] gladtbx commented on #283
Was using code like this:

public int[] statsList{get;set;}

However error encountered:
Unexpected character encountered while parsing value: [. Path 'auctionInfo[6].itemData.trainingItem.lifetimeStats', line 1, position 8159.

Not so familiar with json, any on can help? How to process data like []

[2016-10-07 16:00] rubenpillen commented on #283
@CesarAdmin
I had the same issue with TradePileRequest class. It still works, just add the following to the ItemData class in addition to the earlier commented modifications.

`        public int Amount { get; set; }`

[2016-10-07 19:39] Ricbun16 commented on #283
Has anyone got the mobile log-in working yet?

[2016-10-09 17:26] Extremeg commented on #283
Can someone make a pull request in which the request links and so are updated.

[2016-10-09 18:12] cawk commented on #283
why dont you?
if you have the skills to use this api then you have the skills to simply update some urls

[2016-10-09 22:05] Extremeg commented on #283
The skills :D, okey if you say it. The problem is that i dont have visual studio installed better says cant install it at the moment.

[2016-10-10 09:15] Taggardos commented on #283
Hello Guys,
I hope I'm not writing crap now or something you already know^^

When I requested my Tradepile, I had to add a couple more Items to ItemData.cs

`        public string description { get; set; }

        public string biodescription { get; set; }

        public long stadiumid { get; set; }

        public int capacity { get; set; }

        public string header { get; set; }

        p

[2016-10-10 20:15] Extremeg opened #288 "How to support Proxy"
Hi guys,
I have a question how can i add successfully a proxy server to the lib? It would be great if someone can help me with that.
Good Regards,
Extremeg

[2016-10-10 21:37] trydis commented on #288
https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/issues/150#issuecomment-145885173

[2016-10-13 13:55] kauefelipe commented on #283
Nobody will commit the changes to toolkit works in Fifa 17?

[2016-10-13 18:24] Extremeg commented on #288
Thanks at first for the answer, but this solution i know already. Im looking for where i can change/add in the toolkit something in the class in which the request are handled.

[2016-10-14 13:50] cawk commented on #283
this is what i dont get
if you read through this people have already said how to make it work for web app yes the mobile login is alot different but you can use the web app login

and if you know how to use this api and put into an autobuyer or whatever you are doing you are 100% able to update some links and fix a few errors

stop waiting for someone to do it all for you and just do it yourself

[2016-10-14 13:59] kauefelipe commented on #283
I thought the idea was to just help each other to share the solution here. I even developed some things in previous versions and always shared here what I did more.
Apparently I'm so wrong with the idea of collaboration ...
Ando very busy at work and with little time but as soon as I get some time I try to update the toolkit and share with a push.

[2016-10-14 14:12] Levesque7 commented on #283
@cawk Your attitude is a strange one for someone who is on github. The whole purpose of this site is to promote collaboration and avoid duplicating efforts.

[2016-10-14 14:21] Dinduks commented on #283
@Levesque7 @kauefelipe Some people don't understand what "open source" and "collaboration" are, and they're here only to leech the work of others.
If @trydis has done the same, we wouldn't even be here. :)

[2016-10-15 19:07] trydis commented on #288
https://msdn.microsoft.com/en-us/library/system.net.http.httpclienthandler.proxy(v=vs.118).aspx

[2016-10-15 19:16] trydis commented on #283
I'm hoping someone will send a PR since i'm not playing FUT anymore, so not very keen on taking the 1st step at the moment.

[2016-10-15 22:37] pradella commented on #283
@trydis just sent some pull request to make it work on FIFA 17. contains most of the code discussed in this topic:

https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/299
https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/298
https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/297
https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/296
https://github.com/trydis/FIFA-Ultim

[2016-10-16 09:50] trydis commented on #283
Great @pradella, will take a look at it.

One tip for another time would be to create one PR with several commits instead. So each of the current PRs would be a separate commits in one PR, if that makes sense 😄

No idea regarding the differences you got between the ZIP and clone. Perhaps you were on another branch/commit when you fetched the ZIP?

[2016-10-16 11:10] #277 closed

[2016-10-16 11:10] #278 closed

[2016-10-16 11:10] #279 closed

[2016-10-16 11:11] #281 closed

[2016-10-16 11:11] #282 closed

[2016-10-16 11:34] trydis commented on #283
I've started merging @pradella's PRs. Will keep track of it in https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/300 and push NuGet prerelease packages.

[2016-10-17 14:02] ulrickpsp commented on #286
No  new progress from my side. Any help? Still getting 200 instead of 302

[2016-10-17 15:27] artielange commented on #286
I haven't got the error yet on my end... I've had sessions that lasted 12-24 hours with about 4000 requests

[2016-10-17 15:28] ulrickpsp commented on #286
Of course..the idea is to be able to make more than those 4000 requests.

2016-10-17 17:27 GMT+02:00 artielange <notifications@github.com>:

[2016-10-17 16:35] artielange commented on #286
Sure, and then EA cracks down like they did two years ago and then the fun stops for everyone. I'm not willing to contribute to that sorry.

[2016-10-17 18:44] ulrickpsp commented on #286
OK, it's up to you. But be sure that was not the cause for which EA cracked
down. Market went uncontrollable, which cannot happen anymore with price
ranges.

El 17 oct. 2016 6:35 p. m., "artielange" <notifications@github.com>
escribió:

[2016-10-18 18:59] kauefelipe commented on #283
Someone discovered the "magic" number  to be added to use CalculateBaseId this year?

[2016-10-19 02:34] CoverJ commented on #283
50,331,648 is the difference between normal resourceId/baseId and totw1 resourceId. 50331648 is also the difference for Ones To Watch and their base id. Is there any other comparisons we should make? Is there a card with 2 totws or a One To Watch with a totw I can check?

[2016-10-19 12:10] kauefelipe commented on #283
I hope that "Resources.Item" could be wrong...
Could someone confirm if the request is really in this format in Webapp?

`Item = "https://fifa17.content.easports.com/fifa/fltOnlineAssets/B488919F-23B5-497F-9FC0-CACFB38863D0/2017/fut/items/web/{0}.json";`

In case of pogba the parameter is really his baseId (195864)?

Which programa do u use to monitor network calls? Firebug (firefox) and Developer

[2016-10-19 12:19] CoverJ commented on #283
Have you tried fiddler? http://www.telerik.com/fiddler

[2016-10-19 12:43] kauefelipe commented on #283
@CoverJ Never tried this... i can´t install this in my job machine but i can try at the night if nobody confirm this url to me...

Apparently the magic number to be added to resourceId this year is "3288334336"...
All cases I tested got the correct value in the method "calculateBaseId".

[2016-10-19 21:41] kauefelipe commented on #283
Someone could help me with fiddler?

![fiddler](https://cloud.githubusercontent.com/assets/5603132/19538607/999faa74-9633-11e6-97a6-b6b107e1e2e9.png)

I´m trying to get the GetItemAsync. I hope that is this 10~18 requests... but it´s "hidden" by tunnel (?!?!?!).
How can i see the called url?

[2016-10-19 23:44] CoverJ commented on #283
I couldnt get that URL to work? said 404 when i replaced {0} with pogbas baseid, nice work on finding the number :)

[2016-10-20 10:47] kauefelipe commented on #283
I'm also getting 404 for all calls.

Nobody could help with fiddler? Maybe @trydis ?

[2016-10-20 21:43] trydis commented on #283
Here's the answer regarding "tunnel to", by the man who created Fiddler 😄

http://stackoverflow.com/a/16173622/328194

[2016-10-20 22:02] kauefelipe commented on #283
I saw this topic in overfk
Tried enable decryption but not success ... problem still happening. ..

[2016-10-20 22:47] trydis commented on #283
Here's what it should look like, with the new GUID:
[code]

[2016-10-20 22:57] #288 closed

[2016-10-20 23:04] trydis commented on #276
You're getting a `FutException` and the message even says that it's unable to log in. Catch that exception and do what @A-VORONKIN says.

[2016-10-20 23:04] #276 closed

[2016-10-20 23:12] kauefelipe commented on #283
This url is that is in the vNext branch and it isn´t work to me...
Maybe different header or type of request (post, put...)?

[2016-10-21 05:52] trydis commented on #283
I probably pasted the wrong guid, because I checked that it worked in the browser. I'll check when I'm on the laptop.

[2016-10-21 07:22] trydis commented on #283
Try this one:
[code]

Example with Martial:
[code]

[2016-10-21 23:02] trydis commented on #283
@ulrickpsp or anyone else, i sure could use a PR or two on the [vnext](https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/tree/vnext) branch, which is being tracked in https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/300.

[2016-10-22 00:07] Ricbun16 commented on #286
Is the companion app working with the new changes? Can't test it myself right now but I'm curious

[2016-10-22 07:58] #267 closed

[2016-10-22 11:56] A-VORONKIN commented on #286
@Ricbun16 Companion app is not working. You need to change CleintVersion to 21, but it still not working.

[2016-10-23 13:40] A-VORONKIN commented on #288
You need to change httpClient in FutRequestFactories or HttpClientWrapper. But I tried it but login to web app is not working with proxy. I don't know why. Other request like getting ip from http://bot.whatismyipaddress.com/ is working fine with proxy.

[2016-10-23 14:01] A-VORONKIN opened #301 "Proxy capable"
How to make it proxy capable? I tried to changing HttpClientHandler and adding proxy to app.config (https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/issues/288) but in both cases Toolkit is not working with proxy. Other request like getting IP from other site (client.DownloadString("http://bot.whatismyipaddress.com/") is working fine with proxy (after changing app.config because it will automa

[2016-10-24 07:36] Nicorad commented on #287
Hi,

I have the same error with 2 accounts... I already read that 494 is caused because the tf mkt is disable, but I can use it since 2 weeks on the web app...

[2016-10-24 10:21] tringler commented on #301
This is all you need to do: https://msdn.microsoft.com/en-us/library/kd3cf2ex(v=vs.110).aspx

[2016-10-24 15:57] artielange commented on #287
I think you should check again because 494 means definitely that transfer market is disabled for account. Check the webapp (clear cookies and such) and you should see the "continue playing to access transfer market"

Speaking of this condition.. It seems pretty irregular. I played 5 games on one account and a day later the account worked fine on webapp

I played 5 games and waited a few days on an

[2016-10-24 17:41] A-VORONKIN commented on #301
@tringler, I tried it buy still not working.

[code]

Just can't login after that.

[2016-10-24 17:45] tringler commented on #301
Just use:
[code]

Then it will use the systemproxy you setup via i.e. Internet Explorer as system-wide proxy.

[2016-10-24 17:59] A-VORONKIN commented on #301
I want to add different proxies when you initialize new FutClient (like Cookie Container). I tried to add this code to HttpClientWrapper.cs or FutRequestFactories.cs but it not works. Just can't log in with it.

[code]

[2016-10-25 14:04] artielange commented on #283
Hey does anyone know if there is a limit to the number of tradeIds you can check with GetTradeStatus? I get Bad Request when I pass what seem like 6 valid TradeIds

[2016-10-25 15:14] proeben commented on #283
Do some of then not belong to your last search results?

[2016-10-25 15:27] artielange commented on #283
Ahhh I forgot about that... Thanks

So the tradeIds you check with GetTradeStatus need to have been part of your last searchResponse. Got it

[2016-10-25 18:57] ulrickpsp commented on #286
Not for me

El 22 oct. 2016 2:07 a. m., "Ricbun16" <notifications@github.com> escribió:

[2016-10-27 00:28] JoaoFelipePego opened #303 "Login Companion App Fifa 17 not working?"
I'm trying to login the Companion App version of fifa 17 ut and not working. When I try to login the WebApp version of FIFA ut 17 works normally!
Does anyone know any way to login via companion app work?

[2016-10-31 18:52] thijsvanbloemendaal commented on #303
I guess you'll need to use the loginmobilerequest in this case?

[2016-11-01 08:55] Majed93 commented on #303
Are you getting any errors?

[2016-11-01 23:15] JoaoFelipePego commented on #303
@Majed93

I'm using version 3.0.0, login the web app is running fine.

When I try to log the Companion App is the following error:

**"Response status code does not Indicate success: 400 (Bad Request)."**

Debugging realized the error occurs in the Post method "_GetAuthTokenAsync_" within the **_LoginMobileRequest.cs_**  class

I believe that the login form used in **_LoginMobileRequest.cs_** is o

[2016-11-05 20:51] tomosh22 commented on #285
@Bogenschuetze is it possible to search in that table by nationality?
I tried http://www.easports.com/fifa/ultimate-team/api/fut/item?jsonParamObject={%22nation%22:%22Portugal%22} but that didn't work

[2016-11-05 20:52] trydis commented on #283
I've merged the vnext branch into master, closing this. Bugs can be reported in separate issues.

[2016-11-05 20:52] #283 closed

[2016-11-06 14:06] Romboide82 opened #304 "Login Unknown Error 465 [PS4]"
Hi, i get this error when try to login with the last nuget version (4.0.0).

Any idea?

[2016-11-07 22:58] JoaoFelipePego commented on #304
@Romboide82
You have the error more detailed?
What message stacktrace?

[2016-11-08 18:01] Romboide82 commented on #304
I think it's related to Newtonsoft.Json.

Message = "Could not find member 'debug' on object of type 'UserAccounts'. Path 'debug', line 1, position 9."

StackTrace = " at UltimateTeam.Toolkit.Requests.LoginRequest.<PerformRequestAsync>d__9.MoveNext()\r\n   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)\r\n   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSucc

[2016-11-09 00:13] JoaoFelipePego commented on #304
@Romboide82 @trydis

Update the **UserAccounts.cs** class to:

namespace UltimateTeam.Toolkit.Models
{
    public class UserAccounts
    {
        public UserAccountInfo UserAccountInfo { get; set; }
        _**public string debug { get; set; }
        public string @string { get; set; }
        public string code { get; set; }
        public string reason { get; set; }**_
    }
}

[2016-11-09 00:14] JoaoFelipePego commented on #303
@trydis

Any idea of ​​the problem?

[2016-11-09 11:25] trydis commented on #303
Nope, never tried it. Just compare the requests using Fiddler and see where they differ.

[2016-11-09 11:29] trydis commented on #304
Those properties will only be in the response when there's an error. https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/blob/master/UltimateTeam.Toolkit/Models/FutError.cs already contains those, so a better option would be to figure out what code 465 is and throw a FutException with a proper description to the library user.

[2016-11-09 11:33] trydis commented on #304
Looks like it might be related to authenticator apps?

https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/251/commits/83c345c9e2bf46f88c95cd9e7488c7ff7b1e4ffe

[2016-11-09 11:52] Romboide82 commented on #304
Mmmh i don't know, i'm not trying to login on the companion. Any idea?

[2016-11-09 11:58] Romboide82 commented on #304
@JoaoFelipePego tried your changes but got a "reference to not instantiated object" error.

[2016-11-10 19:26] lkuklis opened #305 "Searching players has no results"
Hi,
I know there was a issue raised (https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/issues/282) but it was closed without any explanation so I want to ask if there is as issue related to searching players? I can get results only when I pass ResourceId to search parameters.

When I search for gold cards I get "Status = WaitingForActivation" in PerformRequestAsync method of SearchRequest class

[2016-11-10 21:41] trydis commented on #305
One reason is certainly because i wasn't paying enough attention when merging a pull request a while ago.

It used to only use the ResourceId if it was set, but as you can see [here](https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/blob/master/UltimateTeam.Toolkit/Parameters/PlayerSearchParameters.cs#L41) it will use it no matter what at the moment.

I guess there have been few complaints beca

[2016-11-10 21:49] lkuklis commented on #305
Ah! Thanks for tip, saved me a lot of time :) 👍

[2016-11-10 21:49] #305 closed

[2016-11-10 21:52] trydis commented on #304
Like i mentioned above, EA returns an error. Adding those properties won't make the underlying problem go away.

You have successfully logged in, using the same account, on a console and created a team, i assume?

[2016-11-11 11:39] kauefelipe commented on #305
Only change to:
`if (ResourceId != 0)
            {
                if (ResourceId <= 16777216)
                    uriString += "&maskedDefId=" + ResourceId.CalculateBaseId();
                else
                    uriString += "&definitionId=" + ResourceId;
            }`

[2016-11-11 13:29] davkh commented on #285
Contracts.

[2016-11-12 05:14] Romboide82 commented on #304
Yes, web app works fine too.

[2016-11-12 05:17] Romboide82 commented on #304
Another detail i forgot to mention: the error appears after i send back the verification code.

[2016-11-12 06:12] Romboide82 commented on #304
SOLVED

Found the problem -.-

I saved PS4 as platform. But the account was on XboxOne.

Sorry for the waste of time :l and thanks a lot for help!

[2016-11-12 22:17] #304 closed

[2016-11-14 11:15] Extremeg commented on #301
It would be nice if someone can say how that can be fixed.

[2016-11-20 20:03] DjTrilogic opened #306 ".Net Core package ?"
Is there a way to .NetCore-Enable this project @trydis  ?

Thank's in advance

[2016-11-20 21:22] trydis commented on #306
I think you should be able to use it as-is.

[code]

I have thought about converting it to a [.NET Standard](https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/) Library, but there are several things that make me want to postpone it.

At the moment .NET Core projects use project.json, but will be replaced with [MSBuild-based .NET Core Tools](https://blogs.msdn.microsoft.co

[2016-11-21 08:13] DjTrilogic commented on #306
well thought !

[2016-11-21 08:13] #306 closed

[2016-11-23 05:14] CoverJ commented on #285
@bigdt21 The parsed file is too large to upload.

https://dotnetfiddle.net/2GiIof

thats the code I used to produce a huge player.json file. its 50mb~ and it crashed any program i try to open it with but it works fine when you work with it programmatically.

[2016-11-28 15:33] pulkitsharma commented on #23
Can somebody send me the link for mapping of assetIds and Manager/Coach Name for staff cards like it is there for players.json. I already tried substituting staff.json

[2016-11-28 15:59] pulkitsharma commented on #285
Anything for Staff cards?

[2016-12-04 20:07] losersFocus opened #307 "PlayerSearch not working"
This issue still exists:
https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/issues/226

I will do a pull request soon.
Help is appreciated.
Can someone else confirm that this issue still exists?

[2016-12-05 07:55] trydis commented on #307
I guess you're not searching for a specific player? If so, it's related to this: https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/commit/0a334235ba6d1bf0a0f4f55353d7f000dd9e6633. The definitionId/maskedDefId shouldn't always be added to the URL.

[2016-12-09 10:40] A-VORONKIN commented on #301
I had System.Net.Http.HttpRequestException (An error occurred while sending the request.) when I'm trying to login with proxy.

[2016-12-16 03:21] A-VORONKIN opened #308 "Error code 500 when login to Xbox account."
I had error code 500 when trying to login to any Xbox account. Login to PS4 accounts is working fine.

VisualStudio shows problem with
`var userAccounts = await GetUserAccountsAsync(_loginDetails.Platform);`
in LoginRequest.cs

Any ideas how to fix it?

[2016-12-16 06:25] CoverJ commented on #308
Looking into fixing but no luck yet, can at least confirm that it isn't only on your end!

[2016-12-16 07:27] CoverJ commented on #308
I think more specifically there is a problem with
`var accountInfoResponseMessage = await HttpClient.GetAsync(string.Format(Resources.AccountInfo, DateTime.Now.ToUnixTime()));`

[2016-12-16 11:03] Taggardos commented on #308
Can confirm the Problem, but unfortunately too stupid to fix it :-D

[http://imgur.com/a/KpLIt](url)

I tried to sniff the Login with Fiddler, but the only difference I am seeing is at this Log entry:
`200	HTTPS	www.easports.com	/iframe/fut17/p/ut/game/fifa17/user/accountinfo?filterConsoleLogin=true&sku=FUT17WEB&returningUserGameYear=2016&_=1481882419387	49	max-age=0, no-cache, no-store; Expires:

[2016-12-16 11:07] CoverJ commented on #308
also tried that @Taggardos with the same result!

[2016-12-16 12:11] Majed93 commented on #308
I'm getting this error too!

[2016-12-17 02:48] CoverJ commented on #308
If anyone has any ideas I'm willing to do the leg work!

[2016-12-17 11:50] Majed93 commented on #308
the x-ut-route url has changed by the looks of it

[2016-12-18 01:56] CesarAdmin commented on #308
You need to change the resources file and from s3 to external.s3
Resources.cs
`  public const string FutHomeXbox = "https://utas.external.s3.fut.ea.com/ut/game/fifa17/";;`
LoginRequest.cs

`  HttpClient.RemoveRequestHeader(NonStandardHttpHeaders.Route);
            var route = $"https://utas.{(platform == Platform.Xbox360 || platform == Platform.XboxOne ? "external.s3" : "s2")}.fut.ea.com:443";`

[2016-12-18 12:19] A-VORONKIN commented on #308
Thanks! It works!

[2016-12-18 12:19] #308 closed

[2016-12-18 22:37] trydis commented on #308
A pull request would be appreciated :)

[2016-12-19 23:35] trydis commented on #307
https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/309 should fix this once it's merged.

[2016-12-19 23:35] #307 closed

[2016-12-23 08:11] Bltfast opened #311 "Http Error 500 (internal server error) on XboxOne Login"
Hi, I have an account on PS4 and one on XboxOne. The former works perfectly, but the latter, with the same application I made has started to give me the Http 500 error (few days ago worked perfectly!). I've tried to remove cache data and force it to ask me the two factor code but the error stay. What could be happened? Any help is appreciated.

Best

[2016-12-23 08:13] #311 closed

[2016-12-23 08:20] Bltfast commented on #286
Hi, I have the same problem here but a little more strange. I have two accounts, ps4 and xboxone. With the same application I did the former does the login with no problems, the latter receives the 500 internal server error. By the way, the xboxone account has worked for some days before getting the error! Is there something that I can try to figure out the issue?

[2016-12-25 01:44] A-VORONKIN opened #312 "How to use GetConsumablesAsync?"
I want to move some consumables from my club to transfer list. GetConsumablesAsync returns something strange, I fail to get an ItemData from it. How to use it?

[2016-12-26 11:52] kauefelipe opened #313 "Ban with bots of toolkit"
Hello friends.
In the last two weeks all my 6 accounts have been banned. In five of them I had actually made a sale of coins. But one of them was new and had never done any business.
Anyone else had trouble with ban these days? What RPM are you using? Did they change anything that the toolkit is not handling and they are detecting?

[2016-12-26 13:43] jvianafec commented on #313
Yes, my account has also been banned 1 week ago.

It used only to increase cast, generate more coins, no sales.

I have used the toolkit since the end of 2015 and had never been banned.

I hope friends can help us with information so we can not be detected.

[2016-12-29 23:58] JoaoFelipePego commented on #313
I was also banned and several accounts.

I believe the problem is tied to the use of WebApp, EA's security policies for WebApp have become more rigid.

[2016-12-30 01:17] JoaoFelipePego commented on #313
Do not use this Toolkit, this week I created a new account after a few matches I was able to unlock the Web App and only logged 4 times through the Toolkit just doing nothing else, and my account was banned after that.

[2016-12-30 01:22] JoaoFelipePego opened #314 "EA Banishing accounts that log on by this Toolkit!"
A month ago I had 4 accounts banned for no reason, after that I created a new account and played a few games until WebApp was unlocked!

After that I performed exactly 4 logons using this Toolkit and my account was subsequently banned. I believe that the login method that the toolkit is doing is obsolete and EA is banning everyone who is using this method!

[2017-01-01 02:03] CoverJ commented on #313
any ideas where we start looking?

[2017-01-01 13:01] A-VORONKIN opened #315 "Http Error 500 (internal server error) on Login"
Can't login today. Had this error on any platform.

[2017-01-01 13:49] #315 closed

[2017-01-01 15:10] lkuklis commented on #315
Have these same issue. It is 500 when getting shards, any clue if something changed ?

[2017-01-01 16:38] trydis commented on #314
Closing this since a similar issue already exists.

[2017-01-01 16:38] #314 closed

[2017-01-01 20:04] brkoz commented on #315
I have the same problem. Did you solve it? I am able to login via other toolkits.

[2017-01-01 20:36] csimoes1 commented on #315
It seems another URL has changed.  If you go into LoginRequest.cs and change the following line:
HttpClient.AddRequestHeader(NonStandardHttpHeaders.Route, "https://utas.fut.ea.com");
to
HttpClient.AddRequestHeader(NonStandardHttpHeaders.Route, "https://utas.external.fut.ea.com");

This should resolve your issue.  Then to pay this forward please submit a pull request to the owner @trydis of this pr

[2017-01-01 20:37] lkuklis commented on #315
No, but as I made quick look into code and Fiddler I assume that there are changes in request headers.

[2017-01-01 20:42] lkuklis commented on #315
Unfortunately changing only url does not help.

[2017-01-02 05:34] aftershock9 opened #316 "Unable to login using the toolkit"
Since the past few days, I haven't been able to login with the toolkit with my bot. I keep on receiving the status code of 500.

1. Has something change with the fifa webapp?
2. Is anyone else experiencing the same issue?

[2017-01-02 10:47] lkuklis commented on #316
Yeah, they've made some changes to WebApp. You can look at [this](https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/issues/315) but no one managed to fix this yet.

[2017-01-02 17:33] lkuklis commented on #316
It is strange... Request for shards looks ok. It is deserialized and return status is 200.But exception is thrown on  message.EnsureSuccessStatusCode() execution.
`at System.Net.Http.HttpResponseMessage.EnsureSuccessStatusCode()
   at UltimateTeam.Toolkit.Requests.FutRequestBase.<DeserializeAsync>d__42`1.MoveNext() `

[2017-01-02 17:59] lkuklis commented on #316
Finally managed to fix that.
To make toolkit work two lines need change
`165:  var route = $"https://utas.external.{(platform == Platform.Xbox360 || platform == Platform.XboxOne ? "s3" : "s2")}.fut.ea.com:443";`

and
`176: HttpClient.AddRequestHeader(NonStandardHttpHeaders.Route, "https://utas.external.fut.ea.com");
            `

[2017-01-03 03:59] artielange commented on #316
FutHome changed too for PS, host is https://utas.external.s2.fut.ea.com/ut/game/fifa17/

Seems ok for now, Can't confirm for xbox

[2017-01-03 12:39] lkuklis commented on #316
@artielange are you able to make other requests or you also get an error ?

[2017-01-03 13:59] artielange commented on #316
Working fine here

[2017-01-03 15:21] ZardoZ70 commented on #316
Working fine here, too. Tested for PS4 and WebApp login.

[2017-01-03 18:48] JoaoFelipePego commented on #316
Some of you had your account banned after consecutive logins through the Toolkit?

[2017-01-03 19:02] JoaoFelipePego commented on #313
Looking at fiddler how to log in to the web app compared to what Toolkit performs, I noticed many differences!
The ideal would be to log on by the Companion APP to work.
The level of security that EA must have applied over the Web App must be very high, any anomaly or suspicious activity is banning ...

[2017-01-03 20:22] aftershock9 commented on #316
Will someone be able to pay it forward with a pull request?

Thank you kindly

[2017-01-03 22:30] trydis commented on #316
@artielange submitted https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/317.

[2017-01-04 21:38] trydis commented on #316
Merged the PR and pushed a new NuGet package.

[2017-01-05 15:09] by1338 commented on #313
I faced the same issues, today my test account was ban after 1 hour of requests on the API.

There is some panic on autobuyer's forums since last night with a massive campaign of ban from EA.

 I think EA is currently banning all accounts used from tier-application other than their web app and companion app,as we saw 4 days ago they had already modified some of their url for logging.
By the way, e

[2017-01-09 00:10] JoaoFelipePego commented on #313
I was able to decompile the Companion application and have access to the source code, I noticed there are really new changes in the way of logging in and the way of authentication, but the codes are all in JavaScript.

I can pass the fonts to anyone who is interested in translating the source code for .NET, I have no time available for this at the moment :(

@trydis

[2017-01-09 10:37] trydis commented on #313
I have no time either and I haven't played FIFA in ages. Contributors to the toolkit are very welcome, trustworthy people will get push access to the repo.

[2017-01-09 11:16] kauefelipe commented on #313
@JoaoFelipePego Pode mandar para mim Joao? Meu email: kaueffreitascampeonatofifa@gmail.com

[2017-01-11 00:56] kledac commented on #313
I'm a C# .NET developer I also have some solid JavaScript knowledge so if you guys want any help with that just let me know.

I never used this toolkit myself but I was going to perfom some tests myself so just let me know :)

[2017-01-11 09:12] aftershock9 commented on #316
Thanks, this issue can now be closed.

[2017-01-11 09:12] #316 closed

[2017-01-12 15:59] aftershock9 opened #318 "Login failure"
As of today, I am receiving issues with the toolkit to login. I am receiving an error:

"Login Failed: Could not find member on object of type 'Persona'"

Is anyone else experiencing the same issue?

[2017-01-12 16:25] Majed93 commented on #318
Same here, think they've changed the login again.

[2017-01-12 16:37] Majed93 commented on #318
I've added the field 'trialFree' in Persona and seems to work.

[2017-01-12 17:27] aftershock9 commented on #318
@Majed93 Would you please able to pay it forward with a PR? Thanks :)

[2017-01-12 18:36] mh1980 commented on #318
Do you mean a property of which type in Persona? Can you provide an example plz.

[2017-01-12 19:18] Majed93 commented on #318
Sorry yes property.

` public string trialFree`

Not done much testing, it would be nice if someone else can also confirm this works please.

@aftershock9 Not sure i can do a PR unfortunately.

[2017-01-12 19:20] mh1980 commented on #318
thnx, was just starting debugging. Will test it and confirm.

[2017-01-12 20:04] mh1980 commented on #318
Seems to work! Thnx :)

[2017-01-13 17:52] trydis commented on #313
@kledac all (useful) contributions are welcome 👍

[2017-01-14 16:27] losersFocus commented on #313
I can confirm that all my bots got banned as well. I use the toolkit only for logging in and have some custom script for trading. I did WebApp logins.
I tried to change the RPM. It didnt help.
Every night (UTC+1) i get an email, telling me, that I violated against the TOS of EA and that the account will be PERMANENTLY banned.

@all What do you think about screen scrapping bots as alternative. EA s

[2017-01-15 18:51] Demogorgon commented on #313
@losersFocus You can check mine [PeakyBuyer](https://github.com/Demogorgon/PeakyBuyer), but imo. it's way less effective than bot based on requests.

[2017-01-18 15:26] Bltfast opened #321 "Could not find member 'resourceGameYear'"
I receive this new error during deserializing of a consumable. This should be put within the ItemData class such this:

public int resourceGameYear {get; set;}

[2017-01-18 16:21] Lululuz commented on #321
FYI, they also changed the way the resource id's are handled. You no longer need to add 1879048192 and can instead use the raw number.

[2017-01-19 19:30] A-VORONKIN opened #322 "Login is not wokring whe 2 platforms are linked to one origin account"
I got IndexOutOfRangeException in GetSessionIdAsync. How to fix it?

[2017-01-19 22:06] #322 closed

[2017-01-21 09:19] aftershock9 commented on #321
I have just seen this issue. Has anyone managed to resolve it?

[2017-01-23 09:42] SeTi2k opened #323 "Get list Portuguese players"
Hi all,

This is more of a question then an issue, but I can't seem to figure out how it works.
If I search a player by ResourceId that works, but how on earth can I for example get a list of all Portuguese players , or all Spain players, etc. that are currently listed on the market ?

Thank you so much in advance!
Best regards,
Sam

[2017-01-23 13:42] trydis commented on #323
There's a bug at the moment, that uses the ResourceId no matter what.

This PR will fix it, once it's merged: https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/309. Quite busy at the moment, but i'll see what i can do. I you're in a hurry, you can grab this piece of code: https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/pull/309/commits/d96d7412f7136643531dcc9229f6ee29f98c17a3

[2017-01-23 14:35] SeTi2k commented on #323
Hi Trydis,

Thank you for the quick reply.
I already tried that piece of code but I thought it was from an older version, since it gives me the following errors when compiling:

Error	CS0534	'PlayerSearchParameters' does not implement inherited abstract member 'SearchParameters.BuildUriString(ref string)'
Error	CS0115	'PlayerSearchParameters.BuildUriString(ref string)': no suitable method found to

[2017-01-23 15:44] Bltfast commented on #321
Just write the code line in the first message into the ItemData.cs class.

[2017-01-23 16:35] trydis commented on #323
[code]

[2017-01-26 05:29] aftershock9 commented on #321
@Bltfast I inserted that code line but unfortunately I am unable to purchase any players.

What others changes do I need to make?

[2017-02-01 13:34] Sejushi opened #324 "Problem with developing"
Hi, I want to create new application using your library but i have problem with login.
My code looks like:

[code]

and i have one special class "ImapTwoFactorCodeProvider.cs":

[code]

But after run application and click the button program stucks for few seconds and gives me error from "Application.Run(new Form1())": TargetInvocationException was unhandled. In details i have information about 'Ul

[2017-02-02 08:20] Sejushi commented on #324
OK, I solved it - i didn't have Newtonsoft installed :)

[2017-02-02 08:20] #324 closed

[2017-02-07 13:35] Taggardos commented on #313
Does someone resolved the Problem with the banned Accounts?

Lost many in the last couple of Days...
I sniffed the Traffic from the Webapp and tried to adjust as many Headers, URL-Strings, etc. as possible from the Toolkit and started my Bot again.

I wil keep you updated, if the Changes are working.

[2017-02-08 07:57] Sejushi opened #326 "GetClubItemsAsync returns 100 players?"
Hi, i have one problem: when i use GetClubItemsAsync() the ItemData has only 100 players (in my club i have c.a. 350).  What i can to do to get all players from my club?

[2017-02-08 08:58] #326 closed

[2017-02-09 11:04] kauefelipe commented on #313
@Taggardos
I have used the mobile version that I sent in a Pull request  #325  for about 15 days. The bot logs once every hour and relist all items of trade pile.

I have not configured to buy / sell player but I probably will do this soon and notice here if it is not banned as well.

[2017-02-09 14:03] Taggardos commented on #313
I accomplished 24 Hours with 5 Accounts simultaneously from the same IP without a Ban (which is an improvement compared to last week :-D )
Beside the updated Headers, URLs (which was still resulting in Bans), I also implemented the PinEvents based on #260

[2017-02-09 21:46] trydis commented on #323
Nuget prerelease package, which includes the fix: https://www.nuget.org/packages/UltimateTeam.Toolkit/5.0.0-rc0001

[2017-02-09 21:46] #323 closed

[2017-02-09 21:48] trydis commented on #318
Included in: https://www.nuget.org/packages/UltimateTeam.Toolkit/5.0.0-rc0001

[2017-02-09 21:48] #318 closed

[2017-02-09 21:48] #303 closed

[2017-02-09 21:48] #286 closed

[2017-02-09 21:49] #285 closed

[2017-02-09 21:49] #287 closed

[2017-02-10 01:11] A-VORONKIN commented on #313
6 accounts are banned tonight. and I don't know why. I had no bans for last month.

[2017-02-11 01:01] JoaoFelipePego commented on #313
Is 5.0.0 version of the Toolkit still causing Banishing?

@Taggardos  is it possible for you to share with us the Toolkit you are using? And what changes did you make?

[2017-02-12 20:24] swingo256 opened #327 "Unable to login to WebApp - Could not find member 'trialFree' on object of type 'Persona'."
Was able to login fine yesterday, but today I get the below error message. Anyone know the fix? Thanks!

Could not find member 'trialFree' on object of type 'Persona'. Path 'userAccountInfo.personas[0].trialFree', line 1, position 1056.

[2017-02-12 21:18] trydis commented on #327
It has been added in the latest prerelease package: https://www.nuget.org/packages/UltimateTeam.Toolkit/5.0.0-rc0001

[2017-02-13 07:59] Taggardos commented on #313
At the Moment the Toolkit I am using is a bit mashed up :-D  (as I am trying to implement UserMassInfo Request and Proxy Support)

#260 is pretty accurate. The only thing I added was

`pinDataCustom.service_plat = "XBO";`

and adjusted the Version Number

`pinData.v = "v17.0.165353";`

in the PinRequest.cs

[2017-02-14 08:45] Taggardos commented on #313
Still received a Ban. It just took a couple of Days longer. Had the Account working for 6-7 Hours a Day...
The only "abnormality" I had, was that I had a different Pagesize than the Webapp.

I also noticed, that the normal Webapp Requests contain Cookie Information in the Header, but to be honest, I can't imagine that EA analyzes every Request and extracts the Headers.

[2017-02-14 12:36] kauefelipe commented on #313
Hi @Taggardos
What kinds of requests were you making? Buying and selling player? You were using the webapp version, right?

[2017-02-14 13:17] Taggardos commented on #313
Hi @kauefelipe
yes, I am using the Webapp Version.
I'm using the Toolkit as an Autobuyer. Buying, selling, checking Prices, Tradepile, etc.

[2017-02-15 10:04] danieljbingham opened #328 "Using Toolkit to get TOTW Players"
Hi,

I was hoping to use the toolkit to find out the totw players in advance. This guy has got the totw players very early [shown here.](https://twitter.com/fifarenderz/status/831780749112123392) I think he may be using something on here to do it. I thought it was on the api, but I couldn't find anything.

Hopefully someone can help, sorry if I've posted this in the wrong place.

[2017-02-16 07:12] CoverJ commented on #328
I am unsure how he is doing it but I thought I would let you know (and maybe @trydis can back me up) that I don't think this toolkit is aimed at that type of function. This is only meant to be a representation of the web app/phone app so that you can automate their functions, not "hack" fifa.

[2017-02-16 07:59] trydis commented on #328
Spot on @CoverJ 😄

[2017-02-18 21:32] octopuppy99 commented on #313
I just got all my accounts banned. I use the toolkit with my auto buyer/bidder since the FIFA 17 release. No changes in the last weeks. One of my accounts only used the toolkit to clean up and relist items from the trade pile. The other accounts I used for mass bidding, too. All accounts used the webapp login. And I did no coin transfers with any of the accounts.
Looks like EA gets better in ident

[2017-02-18 21:54] Bltfast commented on #313
Today all my accounts (9 ps4, 1 xboxone) have been banned. I don't understand the logic applied by EA to ban them. Each account played just the necessary games to unlock the WebApp, so I thought it could be that the reason, but the xboxone account was my main account that I used frequently. So this should not be the reason. I'm using an older version of the Toolkit where I added snippets code when

[2017-02-18 22:42] artielange commented on #313
Guys just out of curiosity, how many requests were being made on the accounts that were banned ?

[2017-02-18 23:18] octopuppy99 commented on #313
I can't tell how many requests were done with my auto-bidding accounts, but I automatically stop bidding after 50 consecutive failed biddings. My auto-bidding usually ran once per hour for 5 hours.

My main account that **didn't** do auto-bidding ran once per hour for 12 hours and cleaned a 70 slot trade pile from sold items, re-filled the open slots and then re-listed the stuff. That's maybe 100-

[2017-02-18 23:48] Bltfast commented on #313
I guess the EA banning logic it is not based on requests because my autobuyer worked without problems for more than a year, nothing is changed until now, so in my opinion, the banning parameters are different... I read about other fut libraries and other programs using them that have been banned during these hours too.

@octopuppy99 You should delete your accounts from ps4 than after a month you a

[2017-02-19 00:16] octopuppy99 commented on #313
@Bltfast Thanks for the hint! I'll try that!

[2017-02-19 00:37] kauefelipe commented on #313
Only one account running with toolkit (only to relist trade pile) and was ban yesterday after a month...

Definitely have some problem. Maybe with the headers of the requests .. i don't know ...

It was running 24x7 and two request each 10 minutes (one to see if was logged and another to relist)... Then i was using 12 requests per hour...

[2017-02-19 00:39] kauefelipe commented on #313
@Bltfast which autobuyer did u using? Maybe we can take a look in that code...

[2017-02-19 00:45] Bltfast commented on #313
@kauefelipe I have written one of mine own starting from the @Lululuz autobuyer but adding a lot of "human" behaviors. For example, random time bids, random searching pages, and so on...

[2017-02-20 13:40] ZardoZ70 commented on #312
I wrote a method `GetConsumableDetails` with which you can access details for consumables in your club, including their resource ids. See 76bf2ef3fc8579221d061f53e7d1a2fdcdbcf481. It's available in the [vnext](https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/tree/vnext) branch.
Hope that helps.

[2017-02-20 18:09] trydis commented on #312
Also on NuGet: https://www.nuget.org/packages/UltimateTeam.Toolkit/5.0.0-rc0002

[2017-02-21 19:01] Carsalinas commented on #1
@v4ssilij Can you please help me to enter into the FutWebapp I had the following error while login
{\"debug\":\"\",\"string\":\"\",\"code\":\"500\",\"reason\":\"\"}

[2017-02-22 10:25] Majed93 commented on #313
I've had 9 accounts banned, this weekend, all at the same time. Granted coins been outgoing from the accounts but not in huge quantities.

[2017-02-22 17:04] artielange commented on #313
I can't imagine its difficult for analysts at EA to determine that the number of requests being performed on an account exceed what's considered normal usage. I also suspect that its easier for EA to ban accounts with suspicious behavior than to inspect individual requests. This seems very logical to me

[2017-02-22 19:47] jon7776 commented on #313
I also have had accounts banned that were only active for a couple of hours at a low 5 rpm,so could not possibly of exceeded any normal usage

[2017-02-22 20:08] Majed93 commented on #313
@jon7776 what were you doing with the accounts? Searching, bidding etc. ?

[2017-02-22 20:33] jon7776 commented on #313
yes searching, bidding, buying,listing, price updates

[2017-02-23 15:06] A-VORONKIN opened #330 "Login is not working"
After new update of web-app login is not working if you didn't have old cookies. Login to mobile app is working fine.

[2017-02-23 21:18] #330 closed

[2017-02-24 16:00] Majed93 commented on #330
Many changes?

[2017-02-24 18:11] bmundt commented on #313
Hey,
Has anyone been banned for making requests to just their club and not actually searching/relisting/etc on the market. I was looking to extend this to build an SBC builder for items in my club, just wondering about the risk.

[2017-02-25 08:30] Bltfast opened #331 "Login issue with ver 5.0 rc2"
Hi, I have a new account and and old one. The latter logins using toolkit rc2 without problems, the former receives this error:

Could not find member 'debug' on object of type 'UserAccounts'. Path 'debug', line 1, position 9.

Changing the login to the companion app I receive this other error:

Could not find member 'access_token' on object of type 'MobileToken'. Path 'access_token', line 2, posi

[2017-02-25 12:30] trydis commented on #331
I assume you're able to log in using the new account in the FUT web app? https://www.easports.com/fifa/ultimate-team/web-app

[2017-02-25 13:33] Bltfast commented on #331
Sure... I have unlock transfer market on that account and I can login with the web app.

[2017-02-25 20:09] ZardoZ70 commented on #313
My guess would be that it is the same risk as any other usage. With the latest bans, it seems that it doesn't matter **what** you do, but **that** you do, i.e. use a toolkit.

[2017-02-26 01:17] israeliMaster opened #332 "How can I see the requests and responses of Companion App?"
I can see the request and the response of the nomal webapp very  easly  using fiddler and able the HTTPS.

But how can I see the request and response of Companion App ?
do you have any idea how can I do it?

[2017-02-26 09:42] Bltfast commented on #331
This is the code I use:

[code]

No code into the ImapTwoFactorCodeProvider constructor... I'm wondering why the other account works well :(

[2017-02-26 12:15] israeliMaster commented on #313
I think I know why you got ban
read this please
[](https://github.com/hunterjm/fifa-autobuyer/issues/152)

[2017-02-26 12:45] A-VORONKIN commented on #313
@israeliMaster  didn't find any answer there....

[2017-02-26 16:14] ZardoZ70 commented on #313
@israeliMaster I think your approach is too simple. Ok, probably EA runs some automatic analysis of a player's behavior, and when you move outside of some predefined parameters, you get an automatic ban. And of course it would be interesting to know more about these parameters. Wait time between request might even be such a parameter.

But I think that there are much more ways on the communication

[2017-02-26 17:12] israeliMaster commented on #313
@ZardoZ70 I didn't get ban after doing it for more than a month.
what do you think is the parameters?

@A-VORONKIN  can you tell me please what did you do ?
did you did a random time or exactly waiting time of the same 2 seconds?

[2017-02-26 20:01] ZardoZ70 commented on #313
@israeliMaster I got an account banned that did nothing but relist the trade pile. And it worked fine for 4 months. Then it got banned. And that's why I'm assuming that the bare use of the toolkit can get you banned, no matter what the parameters might be.

[2017-02-26 20:09] trydis commented on #313
Exactly. That was my goal back when i released the toolkit. I made sure the headers etc. were all there. As time went by i stopped playing FUT and only a few people contributed with code. I guess most people just grabbed what was here and made the adjustments without sharing them.

A few things on the top of my head:
- All the headers must be present in the requests
- The operations that are done

[2017-02-26 21:03] erches opened #333 "Login failure"
Hello. I have a problem when I try to login. I realized that there is another request which should be sent to EA. After
[code]
I should send GET request to "/p/web2/login?execution=e565516359s2&_eventId=end". In this way the Toolkit continues to work in right way. Do you have such a problem? Sorry for my English. Thanks.

[2017-02-27 07:55] trydis commented on #332
I haven't tried it, but my guess is you need to configure your phone to use Fiddler as a proxy.

Android: http://docs.telerik.com/fiddler/Configure-Fiddler/Tasks/ConfigureForAndroid
iOS: http://docs.telerik.com/fiddler/Configure-Fiddler/Tasks/ConfigureForiOS

[2017-02-27 08:35] by1338 commented on #332
You can easily use an android emulator on your PC like Nox and use fiddler

[2017-02-27 08:58] by1338 commented on #313
It's easy for EA to identify  the API caller program.
They can know if you are not one of the "trusted" EA application or not .
This is the point i think.

[2017-02-27 09:08] Bltfast commented on #333
Is your account new? I mean, should be go over the security code activation yet?

[2017-02-27 12:02] Bltfast commented on #333
@trydis Indeed, I have captured network traffic with google dev tools and I see lot differences with headers in the toolkit. I'm not so expert but I've started examining the code and it seems a lot of new url params have been added.

[2017-02-27 17:15] Majed93 commented on #333
EA have changed the way login works again i believe (for web app anyway). Not sure what's changed though.

[2017-03-05 22:16] mh1980 commented on #333
so this means this framework will not function any more?

[2017-03-05 22:53] Majed93 commented on #333
I've not looked much into it but i think we need to get the nucleus ID a different way. Through "https://gateway.ea.com/proxy/identity/pids/me" rather than parsing it from a page.

[2017-03-06 16:14] Bltfast commented on #333
@Majed93 so is it not an header issue? I'm focusing on them checking with fiddler what could be changed... I have an account working because I had cached cookie container info and now it is not needed asking for a new two factor code. On the other hands, with new accounts, I have this issue, before my app asks for the two factor code!

[2017-03-06 17:51] Majed93 commented on #333
I'm not sure, i'm going to have a look at that. But i have tried to get the nucleus ID via https://gateway.ea.com/proxy/identity/pids/me, think mobile log it tries it this way, it seems to work but when i try get the session ID i get a 401 unauthorized error :/.

Yes I have that too, accounts with cookies containers can login, i assume because they have all the required values.

[2017-03-06 22:23] Bltfast commented on #333
@Majed93 is there a way to generate the cookie container with official web app and use in our applications?

[2017-03-07 11:51] Bltfast commented on #333
By the way, I'm not so expert about HTTP traffic; what I see just from the first GET from the official web app and the toolkit, are a couple of differences:

WEBAPP
GET https://www.easports.com/fifa/ultimate-team/web-app HTTP/1.1
Host: www.easports.com
Connection: keep-alive
Upgrade-Insecure-Requests: 1
User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Ch

[2017-03-07 13:24] Bltfast commented on #333
Going on with inspecting the toolkit code I've found why my two factor code dialog doesn't show anymore; in the LoginRequest.cs the following code is never true, because I guess the page content is changed.

            var contentData = await mainPageResponseMessage.Content.ReadAsStringAsync();
            if (contentData.Contains("We sent a security code to your") ||
                contentData.

[2017-03-07 17:00] Bltfast commented on #333
I guess I'm near to the solution but I still haven't figured out how to solve the problem. The POST is different from web app and the toolkit so I guess the toolkit is not redirected to the Security Code page and next, the NucleusID is zero. Analyzing the POST header I see a different Cookie section; web app has the JSESSIONID as toolkit but some other values such as utag_main, __utmt, __utma, etc

[2017-03-07 17:30] mh1980 commented on #333
Yes i believe the redirect is gone. Instead the redirect information should be as json in the html of the page. Or so I heard.

[2017-03-08 19:09] Bltfast commented on #333
@erches have you resolved? I have tried to add that GET, retrieving the URL from the previous POST, but even if the response is OK, the content is empty. Maybe some cookies is missing?

@mh1980 the URL to the new page is within the first POST response, the POST when you set user/pwd... with a simple string substring I have retrieved the new URL but using it with a new GetAsync I don't retrieve a r

[2017-03-08 20:50] A-VORONKIN commented on #312
@ZardoZ70 how to move consumables for club to tradepile? you need itemdata to do it.

[2017-03-08 22:00] #312 closed

[2017-03-09 10:10] Bltfast commented on #333
OK guys, I have found the solution! Here is the code to change in the LoginRequest.cs:

        public async Task<LoginResponse> PerformRequestAsync()
        {
            try
            {
                var mainPageResponseMessage = await GetMainPageAsync().ConfigureAwait(false);
                if (!(await IsLoggedInAsync()))
                {
                    var loginResponseMessage = aw

[2017-03-09 10:46] mh1980 commented on #333
Wow Bltfast, very nice! I had the same problems you described in your previous response. I will check your solution tonight. But thnx up front! Very happy with this.

[2017-03-11 19:24] #331 closed

[2017-03-13 08:43] #321 closed

[2017-03-13 08:52] Bltfast commented on #333
@Lululuz actually I'm trying to fix the Mobile login, I read you have worked on that... There is a strange issue in the last vnext release of LoginMobileRequest.cs code, the first GET doesn't resolve the machineProfileKey param so to EA arrives machineProfileKey={0}. What this param represents? How I can canculate it?

[2017-03-13 16:57] Bltfast commented on #333
@Lululuz I used Fiddler set as proxy for my mobile to capture http traffic and what I see is that the first GET passes that param:

GET /connect/auth?client_id=FIFA-17-MOBILE-COMPANION&response_type=code&display=web2/login&scope=basic.identity+offline+signin&locale=en_US&prompt=login&machineProfileKey=65b9300deef09ce3 HTTP/1.1

Btw, I have downloaded the last vnext release (5.0.0.rc1) even if from

[2017-03-13 17:22] Lululuz commented on #333
Ok, I just checked it here

I didn't update for years because I modified stuff. Anyway for me it works without the machineProfileKey, if you want to use it simply generate a random one using

`GetRandomHexNumber(16);`

This should do the job.

[2017-03-13 20:00] Bltfast commented on #333
@Lululuz yes, that's my code too but maybe it works to you because you have cached account's info. On new accounts, after having asked for the two factor code it returns an error. The difference seems after this POST:

POST /p/web2/login?execution=e1878953966s3

maybe some missing referer...

By the way, I guess I am near the solution... I'll keep you informed, thanks.

[2017-03-14 14:40] Bltfast commented on #333
ok guys, I've fixed LoginMobileRequest.cs too. There were a problem in the deserialization of MobileToken token from the new JSON. So the MobileToken.cs become:

    public class MobileToken
    {
        public string access_token { get; set; }
        public string token_type { get; set; }
        public string expires_in { get; set; }
        public string refresh_token { get; set; }
        pu

[2017-03-14 20:14] kauefelipe commented on #285
@Telexx Send to me please!

[2017-03-15 11:56] Bltfast commented on #333
@Lululuz sorry to bother you but I have problems with CookieContainer when used by CompanionApp login. I always receive the request to insert the two factor code even if I have loaded the cookie from a .dat file stored after the first login. I'm using your last public futbud app where I have replaced the toolkit with the last vnext version. Any idea why?

[2017-03-15 13:24] Telexx commented on #285
Okay I've sent it

[2017-03-15 17:21] Lululuz commented on #333
@Bltfast This code is kinda outdated and it does not differ between mobile and webapp login. Mobile and webapp cookies are different so you have to be sure you loaded the correct one.

Implement something like this (ignore the proxy, my version of the toolkit is different)
[code]
If you got further questions you can also send me a mail to `hamalaa@web.de` so we don't spam this thread.

[2017-03-15 18:31] Bltfast commented on #333
Thank you Lululuz for your help. Obviously, I have already saved in two different files. In my case I use a check box on the login form to select mobile login or web app. Here is my code, better, your code modified :)

        private async void btnLogin_Click(object sender, EventArgs e)
        {
            if (tbUsername.Text == "" || tbPassword.Text == "" || tbSecret.Text == "")
            {

[2017-03-16 13:06] kauefelipe commented on #285
I did not receive the email. Maybe gmail declined because of file size.
Can you put it on some hosting and send us the link?

[2017-03-16 13:55] A-VORONKIN commented on #333
@Lululuz can you help with adding proxy like in your toolkit version?

[2017-03-16 14:38] Bltfast commented on #333
@A-VORONKIN which is the advantage to have a proxy?

[2017-03-16 15:20] Telexx commented on #285
https://1drv.ms/u/s!Arrzbyqmfy0Za-u7w9tTzuS3Iys it's a work in progress, I still need to add player team & nationality but names and all stats are there.

[2017-03-17 22:19] agagrest commented on #333
sorry to be straightforward but guys is there a straight solution to login problem?

[2017-03-18 17:33] A-VORONKIN commented on #333
@Bltfast If you have many account it safer to use proxy. So you will have different IP's on every account.

[2017-03-19 08:40] Bltfast commented on #333
@A-VORONKIN that's a cool feature indeed... By the way, I don't think IP is the key used by EA to ban accounts...

[2017-03-19 13:38] Lululuz commented on #333
@A-VORONKIN Pass the proxy to the HttpClientWrapper
[code]
Create your proxy like this
[code]
Or with credentials
[code]
@Bltfast
Can see anything wrong with your code. Maybe the problem is the different machine key, but I don't know.

[2017-03-19 17:34] A-VORONKIN commented on #333
@Lululuz big thanks! I will try it tomorrow.

[2017-03-23 21:15] Bltfast opened #334 "LoginMobileRequest missing implementation?"
@tringler @trydis
After the mobile login is accomplished correctly, my app writes the cookie container to a file in order to avoid the full login process the next time. This works perfectly for the LoginRequest, not for the mobile version. So, I started using Fiddler to inspect what it doing wrong and I saw that when the companion app uses a cached account, it appends two new params to the Home UR

[2017-03-24 10:31] tringler commented on #334
@Bltfast I stopped to worked on that repo completely due to EA banned my account.

[2017-03-24 10:44] Bltfast commented on #334
@tringler that's sad to read :( My accounts had been banned too but I don't give up :)

[2017-03-27 09:14] trydis commented on #334
i haven't played fifa or fut in ages...

[2017-03-27 09:36] Bltfast commented on #334
so no clue about how solving this?

[2017-03-27 11:21] opish opened #335 "noobie question"
`  private async void login()
        {
            client = new FutClient();

var loginDetails = new LoginDetails(mail, pwd, secret, Platform.Ps4 , AppVersion.WebApp);
**ITwoFactorCodeProvider provider =(How to fill out this part???)** <---
var loginResponse = await client.LoginAsync(loginDetails, provider);
        }`

[2017-03-27 11:53] trydis commented on #334
No, not without inspecting the traffic. Not something i want to spend time on tbh.

[2017-03-27 17:07] Lululuz commented on #335
Something like this
[code]
[code]

[2017-03-28 08:07] #335 closed

[2017-04-02 14:04] marlonespindola opened #336 "problems using tool"
hello guys forgive me my poor english
i am a noob to c#, and i'm trying to use this tool on android, using xamarim

i was using this code provided by @tringler in #272 .

but on ReadCookie it gives me "Could not find file \"/FUT.cookie.WebApp\"
how do i proceed ?

here is the code:

`using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using System.Net;
using System.

[2017-04-02 16:46] de-ltd opened #337 "Windows mobile"
Hello,

Does anyone have the windows mobile device sku for logging in?

[2017-04-03 08:53] Taggardos commented on #336
If you don't have an Cookiefile, just comment the Readcookie call out and create the Futclient Instance without it.

`#cookieJar = ReadCookie(@"FUT.cookie." + AppVersion.WebApp);`
`FutClient futClient = new FutClient();`

[2017-04-05 16:28] marlonespindola commented on #336
now the program is hanging on
var loginDetails = new LoginDetails("xxx@xxx.xy", "xyz", "abcd", Platform.Pc, AppVersion.CompanionApp);
it dont give me any error, just hangs...

heres the code that im using:

`
using Android.App;
using Android.Widget;
using Android.OS;
using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;
using System.Net;
using System.Runtime.Serializa

[2017-04-05 20:53] tringler commented on #336
It is maybe the same behaviour I experienced as I wanted to use Mono - https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/issues/169

[2017-04-05 21:27] marlonespindola opened #338 "Working tool"
Does any one has a project on xamarin\android using this tool tha is working?
I would like to see the code so I can use as example to implement my ow project.
Im having problems geting started, as I am a noob in xamarin.

[2017-04-05 21:30] marlonespindola commented on #336
@tringler this code that you provided  on #272 works in what language?

[2017-04-06 05:46] tringler commented on #336
It works in C# native, but not in C# Mono.

[2017-04-06 07:16] trydis commented on #336
@marlonespindola your latest example looks like a Xamarin.Android app. Your `GetTwoFactorCodeAsync` method gets the result from `Console.ReadLine`, how does that work in a Xamarin.Android app? On what line does it hang?

[2017-04-06 11:34] marlonespindola commented on #336
Yes @trydis it is a xamarin.android app tha I am trying to do.
The console.readline is there because Im using a code provided by @tringler .
But putting a break on the GetTwoFactorCodeAsync, it never stops there. My gess is that the program never gets there. It hangs before that.

Keeps hanging in this line inside DoAppLogin
On this line:
var loginDetails = new LoginDetails("xxx@xxx.xy", "xyz", "a

[2017-04-06 12:00] marlonespindola commented on #336
actually it is hanging on this line...

var loginResponse = await futClient.LoginAsync(loginDetails, AuthHelper);

not the line that i said previously.

[2017-04-06 12:15] Taggardos commented on #336
So it seems, that the Application hangs, while it waits for the Code.
I never worked with Xamarin, but I don't think that you can use `Console.Readline` within an Android App.

I think it would be the Best for you, if you let go of the Test-Script and write your own Code-Snippet. (Receive the Code with a simple Text Field, where you can enter the Code)

[2017-04-06 12:16] trydis commented on #336
Ok, but his example was a console application, so `GetTwoFactorCodeAsync` expects input from the user in a command prompt.

[2017-04-07 13:22] marlonespindola commented on #336
so, i've done what you said.
I removed de readLine and I'm passing a code directly, but stills hanging.
the code looks like this:

`    public partial class Auth : ITwoFactorCodeProvider
    {
        private TaskCompletionSource<string> taskResult = new TaskCompletionSource<string>();
        public Task<string> GetTwoFactorCodeAsync()
        {
            taskResult.SetResult("******");

[2017-04-07 13:23] marlonespindola commented on #336
so, i've done what you said.
I removed de readLine and I'm passing a code directly, but stills hanging.
the code looks like this:

    public partial class Auth : ITwoFactorCodeProvider
    {
        private TaskCompletionSource<string> taskResult = new TaskCompletionSource<string>();
        public Task<string> GetTwoFactorCodeAsync()
        {
            taskResult.SetResult("357843");

[2017-04-07 13:25] marlonespindola commented on #336
Funny thing is, i've created a new C# project, using this tool, and it doesnt hang. It passes the point.
Its given me error still, but I'm working on it.

[2017-04-09 15:12] drawalex opened #339 "Unable to login to WebApp"
I am trying to run this login class when I do I receive the following exception "Unable to login to WebApp". I am using  FIFA Ultimate Team Toolkit 5.0.0-rc0002

` class login
    {
        public static FutClient mainFutClient = new FutClient();

        public static async Task User(string username, string password, string securityAnswer, Platform platform)
        {
            var cookieJar =

[2017-04-10 12:26] marlonespindola commented on #331
I am having the same error here when trying to conect at the webapp

Could not find member 'debug' on object of type 'UserAccounts'. Path 'debug', line 1, position 9.

And yes... I can login at the webapp. I have access.

Dont know whats happening...
Can anyone help me?

[2017-04-10 16:57] marlonespindola commented on #331
its returning me StatusCode: 200
butt for what a read here, it always return this when something is wrong

[2017-04-10 23:18] marlonespindola commented on #331
Could this have anything to do with anti virus?

[2017-04-11 09:11] agagrest commented on #339
I think it's related to changes made by EA in February. No one manages to fix Toolkit.

[2017-04-11 10:09] Bltfast commented on #339
actually I have changed LoginRequest.cs and you should find it somewhere in another post.

[2017-04-11 13:08] agagrest commented on #339
@Bltfast you mean [this](https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/issues/333#issuecomment-286837608) ?

[2017-04-11 13:40] Bltfast commented on #339
nope, [this one](https://github.com/trydis/FIFA-Ultimate-Team-Toolkit/issues/333#issuecomment-285310071)...

[2017-04-11 18:12] drawalex commented on #339
@Bltfast  thanks for your help I have looked at that post and altered the LoginRequest.cs but i get the following exception.
`UltimateTeam.Toolkit.Exceptions.InternalServerException: Code: InternalServerError ---> Newtonsoft.Json.JsonSerializationException: Could not find member 'debug' on object of type 'UserAccounts'. Path 'debug', line 1, position 9.
   at Newtonsoft.Json.Serialization.JsonSeri

[2017-04-11 22:56] shady2k12 opened #340 "How do I save the login cookie into in a file?"
Just out of interest I would like to know how the cookie file works.
I know you can login without using the cookie but I would just like to understand how you use it.
So can someone please give me some hints on how to implement this?

`var cookieJar = new CookieContainer();
string fileName = username + @"FUT.cookie." + AppVersion.CompanionApp;
FutClient futClient = new FutClient(cookieJar);`

[2017-04-13 08:45] agagrest commented on #339
@Bltfast  I don't know why but when I checked these code a few weeks ago it was an exception on LoginRedirect and also now I had this exception but only for the first request. After second try it works. So thanks again! cheers!

[2017-04-13 10:32] drawalex commented on #339
@agagrest  please can you explain why it works because I am still unable to fix it.

[2017-04-13 10:41] Bltfast commented on #339
@agagrest I should see your code to better understand what could be the issue... By the way, @drawalex have you removed cached data and did a brand new login access?

[2017-04-13 10:51] Bltfast commented on #340
after the successfully login, your futClient object will contain the cookie container with all the necessary to perform a next login without requesting two factor code again. All you have to do is store the cookie container in a file after the login and read it from the file before the login.

The code I use is:

        public static void WriteCookiesToDisk(string file, CookieContainer c)

[2017-04-13 11:10] drawalex commented on #339
@Bltfast i have just cleared the cached data and had another run with still no luck

[2017-04-13 19:04] shady2k12 commented on #340
I see, many thanks @Bltfast. I  will try this out.

[2017-04-13 19:04] #340 closed

[2017-04-15 16:57] shady2k12 commented on #339
@drawalex I think we are are getting the same error. I managed to isolate the problem to the  `GetUserAccountsAsync(Platform platform)` function in LoginRequest.cs. Specifically
` return await DeserializeAsync<UserAccounts>(accountInfoResponseMessage)` is the line of code that throws this exception. My knowledge is limited but if I can make it work I will let you know.

[2017-04-21 23:31] JoaoFelipePego commented on #313
Is anyone still using this Toolkit with any Fifa 17 account that has not been banned again?

[2017-04-25 19:36] tringler commented on #337
As I remember correctly SKU is not the device you are using to access FUT WebApp - It's the platform you are playing FUT.

[2017-04-25 19:53] tringler commented on #313
It's the root cause I'm not working on that repo anymore - I think a lot of money is needed to identify how they flag the accounts now.

[2017-04-27 08:35] tringler commented on #327
Issue will be closed, because it's fixed in https://www.nuget.org/packages/UltimateTeam.Toolkit/5.0.0-rc0001

[2017-04-27 08:35] #327 closed

[2017-04-27 08:40] tringler commented on #328
@danieljbingham - Take a look at https://github.com/trydis/FIFA-Ultimate-Team-Toolkit#get-definitions - With right `definitionId `you can search the TOTW player by:

[code]

[2017-04-27 08:41] #332 closed

[2017-04-27 12:57] drawalex commented on #339
@shady2k12 thanks I'm still unable to get it to work

[2017-04-27 16:50] shady2k12 commented on #339
@drawalex I don't think I changed anything from Bltfast's code. Found the problem was in the Persona.cs file in the Model folder. The class didn't match the HTTP json response (Fiddler). Here are my files [LoginRequest.cs](https://gist.github.com/shady2k12/0a1000d42436b38dfd04d2e6c6c76c27) and [Persona.cs](https://gist.github.com/shady2k12/31ecf8ac6d4b86082270ec45a2e65477)
I started from version 4

[2017-05-26 14:02] pashaparenyuk opened #341 "errorCode":473"
{"itemData":[{"id":274721998472,"reason":"Destination Full","pile":"trade","success":false,"errorCode":473}]}
response from server;

catch this error when try make a bid /fifa17/trade/191959237803/bid

whats i make wrong?

[2017-05-30 22:50] bijandaei commented on #341
The problem is that you're trade pile is full. You need to sell some of you're items before you can buy new ones.

[2017-05-31 15:20] pashaparenyuk commented on #341
Thanks

[2017-05-31 22:11] #341 closed

[2017-06-01 15:45] israeliMaster opened #342 "Can't get access web app market + buying accounts if you have"
how can I get access to the web app market
before one month I opened 3 accounts played 7 games and after 3 days they had access to the web app

last week I opened other 3 account played even more than 7 games and I didn't get the web access , it's still saying " playing more...".
Is it because the main account that bought the game on xbox got a ban?
is  it because the changed the numbers of game y

[2017-06-01 16:34] Majed93 commented on #342
It's because you need to play more games.

[2017-06-01 19:09] israeliMaster commented on #342
the question is how many
before one month i have been played 7 games and wating 3-4 days
today it is not work for me any more

[2017-06-02 07:27] Majed93 commented on #342
From my experience there is no definitive number, some take longer than others, you'll just have to keep playing until they're unlocked.

[2017-06-02 20:58] kauefelipe commented on #342
From experience, I also say that it does not have a certain number. I already had accounts that I needed less than 10, and anothers more than 20 and more than a week ...

I have an account with 800k and the market is released. If you have interest you can send me an email that we can negotiate. Kaueffreitascampeonatofifa@gmail.com

[2017-06-06 08:40] pashaparenyuk commented on #339
Login Failed: Could not find member 'access_token' on object of type 'MobileToken'. Path 'access_token', line 2, position 18.

This ex when i try login with companion app, any ideas what this?

[2017-06-06 08:45] pashaparenyuk commented on #331
Login Failed: Could not find member 'access_token' on object of type 'MobileToken'. Path 'access_token', line 2, position 18.

when try login with companion app

[2017-06-06 09:54] pashaparenyuk opened #343 "Login Failed: Companion"
Login Failed: Could not find member 'access_token' on object of type 'MobileToken'. Path 'access_token', line 2, position 18.

when try login with companion app

Please help if its possible.

I wanna try to use companion auth and client to make some requests, when i was WebApp auth i catch temporary ban for search requests.

I think companion auth solve this problem,but i cant auth for reason in h

[2017-06-13 12:54] pashaparenyuk opened #344 "Get captcha"
Cant get captcha:
using toolking 5.0.1
      CaptchaResponse captchaImg = await _client.GetCaptchaAsync();
error 500 code

maybe i use this incorrect: i use getcapthcaasync() into catch block like this
catch(ex)
{
CaptchaResponse captchaImg = await _client.GetCaptchaAsync();
}
pleace help to solve!

And same problem with trigger captcha from today most of bots i know.

[2017-06-16 14:15] israeldesigner commented on #285
Hi buddies, I got doubt here. I´m building one api databe like https://sofifa.com/, but I´m using EA SPORTS API and I´ve not found atributte  COMPOSTURE, cuz  https://sofifa.com/ show it composture and  API EA SPORTS NOT SHOW. How can I put this atributte?

[2017-06-19 16:00] blakedalmeida commented on #285
Hi guys,

Would anyone have the API documentation or endpoints for Pro Clubs?

Thus far we've identified the following but certain we're missing some, this is for a new app.

https://www.easports.com/iframe/fifa17proclubs/api/platforms/PS4/clubs/search (replace search with word to return all clubs with word in name)
https://www.easports.com/iframe/fifa17proclubs/api/platforms/PS4/clubs/308452
http